<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <multi-steps-form id="multi-steps-form"></multi-steps-form>
    </div>
    <div class="how-it-works" layout-align="center center">
        <h1 class="md-display-2 features-section-main-title">{{ ::'HOW_IT_WORKS_QUESTION' | translate }}</h1>
        <div class="md-title features-section-main-description">
            {{ ::'HOW_IT_WORKS_ANSWER' | translate }}
        </div>
        <br/>
        <div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around">
                <div flex="33">
                    <div class="step-entry feature-entry-multicurrencies">
                        <h1>1</h1>
                    </div>
                    <div class="md-headline step-title">{{ ::'HOW_IT_WORKS_STEP_1_NAME' | translate }}</div>
                    <div class="md-subhead step-description">{{ ::'HOW_IT_WORKS_STEP_1_EXPLANATION' | translate }}</div>
                </div>
                <div flex="33">
                    <div class="step-entry feature-entry-multicurrencies">
                        <h1>2</h1>
                    </div>
                    <div class="md-headline step-title">{{ ::'HOW_IT_WORKS_STEP_2_NAME' | translate }}</div>
                    <div class="md-subhead step-description">{{ ::'HOW_IT_WORKS_STEP_2_EXPLANATION' | translate }}</div>
                </div>
                <div flex="33">
                    <div class="step-entry feature-entry-multicurrencies">
                        <h1>3</h1>
                    </div>
                    <div class="md-headline step-title">{{ ::'HOW_IT_WORKS_STEP_3_NAME' | translate }}</div>
                    <div class="md-subhead step-description">{{ ::'HOW_IT_WORKS_STEP_3_EXPLANATION' | translate }}</div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <div class="left-right-row">
        <div layout="column" layout-gt-sm="row">
            <div flex="50" class="left-right-row-column-first" layout-align="center center">
                <h2 class="md-display-2 page-title">{{ ::'WHAT_BITCOIN_IS_QUESTION' | translate }}</h2>
                <div class="md-title page-subtitle">
                    {{ ::'WHAT_BITCOIN_IS_ANSWER' | translate }}
                </div>
                <br/>
            </div>
            <div flex="50" class="left-right-row-column-second" layout-align="center center">
                <h2 class="md-display-2 page-title">{{ ::'WHICH_WALLET_CHOOSE_QUESTION' | translate }}</h2>
                <div class="md-title page-subtitle">
                    {{ ::'WHICH_WALLET_CHOOSE_ANSWER' | translate }}
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="features-section" layout-align="center center">
        <h1 class="md-display-2 features-section-main-title">{{ ::'WHAT_MAKES_US_DIFFRENT_QUESTION' | translate }}</h1>
        <div class="md-title features-section-main-description">
            {{ ::'WHAT_MAKES_US_DIFFRENT_ANSWER' | translate }}
        </div>
        <br/>
        <div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around">
                <div flex="33">
                    <div class="feature-entry feature-entry-multicurrencies">
                        <md-icon md-svg-src="/img/icons/money_48px.svg" class="feature-entry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">{{ ::'BOOST_IN_MULTIPLE_CURRENCIES' | translate }}</div>
                    <div class="md-subhead Landing-featuresDescription">{{ ::'BOOST_IN_MULTIPLE_CURRENCIES_EXPLANATION' | translate }}</div>
                </div>
                <div flex="33">
                    <div class="feature-entry feature-entry-safety">
                        <md-icon md-svg-src="/img/icons/ic_security_white_48px.svg" class="feature-entry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">{{ ::'SECURE_TRANSACTIONS' | translate }}</div>
                    <div class="md-subhead Landing-featuresDescription">{{ ::'SECURE_TRANSACTIONS_EXPLANATION' | translate }}</div>
                </div>
                <div flex="33">
                    <div class="feature-entry feature-entry-support">
                        <md-icon md-svg-src="/img/icons/ic_live_help_white_48px.svg" class="feature-entry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">{{ ::'PROFESSIONAL_SUPPORT' | translate }}</div>
                    <div class="md-subhead Landing-featuresDescription">{{ ::'PROFESSIONAL_SUPPORT_EXPLANATION' | translate }}</div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
