@import "../../../material/project";
@import "../../../bourbon/bourbon";

$header-color: #297cb9;

body {
    font-family: 'Lato', sans-serif;
}

.Landing {
    height: 100%;
}

.Landing-cover {
    //background-color: #297cb9;
    @include linear-gradient($header-color, #2c85cc);
    background-image: url("/img/bitcoin_background.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position-y: 200px;
    width: 100%;
    min-height: 450px;
}

.Landing-heading,
.Landing-subtitle {
    color: white;
}

.Landing-headingLight {
    font-weight: 300;
    letter-spacing: -3px;
}

.Landing-heading {
    color: white;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
    letter-spacing: -1px;
}

.Landing-subtitle {
    opacity: 0.7;
    text-align: center;
}

.left-right-row {
    position: relative;
}

.Landing-ampersand {
    font-size: 50px;
    color: $brand;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
}

.left-right-row-column-first {
    background-color: $background;
    border-left: 1px solid $border;
}

.left-right-row-column-first,
.left-right-row-column-second {
    text-align: center;
    color: $navy;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
}

.page-title {
    padding-top: 30px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: -1px;
    color: $navy;
}

.page-subtitle {
    color: $black;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
}

.how-it-works {
    text-align: center;
    margin: 60px 10px;
    .features-section-main-title {
        font-weight: 300;
        letter-spacing: -1px;
        margin-bottom: 15px;
        color: $navy;
    }
    .features-section-main-description {
        width: 70%;
        margin: 0 auto 30px;
        color: $black;
        font-weight: 300;
    }
    .step-entry {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 40px auto 20px;
        background-color: #3583BD;
        display:table;
        h1 {
            color: white;
            display: table-cell;
            vertical-align: middle;
            font-weight: 200;
            font-size: 56px;
        }
    }

    .step-title {
        color: $navy;
        letter-spacing: -1px;
        margin-top: 40px;
    }
    .step-description {
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-weight: 300;
        color: $black;
    }
}


.features-section {
    text-align: center;
    margin: 60px 10px;
    .features-section-main-title {
        font-weight: 300;
        letter-spacing: -1px;
        margin-bottom: 15px;
        color: $navy;
    }
    .features-section-main-description {
        width: 70%;
        margin: 0 auto 30px;
        color: $black;
        font-weight: 300;
    }
    .feature-entry {
        width: 176px;
        height: 176px;
        border-radius: 50%;
        margin: 40px auto 20px;
    }
    .feature-entry-icon {
        height: 100%;
    }
    .Landing-featuresTitle {
        color: $navy;
        letter-spacing: -1px;
        margin-top: 40px;
    }
    .Landing-featuresDescription {
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-weight: 300;
        color: $black;
    }
    .feature-entry-support {
        background-color: $brand;
    }
    .feature-entry-safety {
        background-color: #6AAF3B;
    }
    .feature-entry-multicurrencies {
        background-color: $brand;
    }
    .feature-entry-multicurrencies md-icon {
        width: 80px;
    }
    .feature-entry-safety md-icon {
        width: 100px;
    }
    .feature-entry-support md-icon {
        width: 80px;
    }
}

.subpage-header {
    background-color: #297cb9;
    background-size: cover;
    width: 100%;
    min-height: 140px;
}

.subpage-header-title {
    color: white;
    padding-top: 60px;
}


/*
This is a terrible temporary hack,
to fix layout issues with flex on iOS (chrome & safari)
Make sure to remove this when you modify this demo
*/

@media only screen and (max-width: 950px) {
    .iOS-hack .flex-100,
    .iOS-hack .flex-50,
    .iOS-hack .flex-33 {
        flex: none !important;
    }
}
