@import "../../../material/project";
@import "../../../bourbon/bourbon";
.site-header {
    height: 65px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

@media (max-width: 910px) {
    .menu-links-container {
        display: none !important;
    }
    .mobile-menu-links-container {
        display: flex;
    }
}

@media (min-width: 911px) {
    .menu-links-container {
        display: flex;
    }
    .mobile-menu-links-container {
        display: none !important;
    }
}

.site-header-container {
    height: 100%;
}

.site-header-logo {
    width: 171px;
    height: 41px;
    padding-top: 13px;
}

.site-header-link {
    text-decoration: none;
    color: $black !important;
    padding: 0 20px;
    display: inline-block;
    transition: 550ms background-color;
    line-height: 64px;
}

.site-header-link:hover {
    background-color: $background;
}

.site-header-link.active {
    background-color: #E8EBEC;
}

.site-header-github {
    margin-top: 17px;
    margin-left: 10px;
}

.site-header-spacer {
    padding-top: 64px;
}

.page-mobile-menu {
    md-menu-item.languages {
        .md-button {
            span {
                width: 60% !important;
            }
            &:hover {
                background-color: #fff !important;
            }
        }
    }
    .site-header-flag {
        text-decoration: none;
        padding: 0 12px;
        display: inline-block;
        transition: 250ms background-color;
        cursor: pointer;
        cursor: hand;
        img {
            width: 24px;
            height: 24px;
            border: 4px solid rgba(0, 0, 0, 0.05);
            margin-top: 10px;
            @include border-top-radius(50%);
            @include border-right-radius(50%);
            @include border-bottom-radius(50%);
            @include border-left-radius(50%);
            @include filter(grayscale(100%));
            @include transition(all 0.4s ease-in-out);
        }
        &.active,
        &:hover {
            img {
                @include filter(grayscale(0));
            }
        }
    }
}

.menu-links-container {
    .site-header-flag {
        text-decoration: none;
        padding: 0 10px;
        display: inline-block;
        transition: 250ms background-color;
        cursor: pointer;
        cursor: hand;
        img {
            width: 24px;
            height: 24px;
            border: 4px solid rgba(0, 0, 0, 0.05);
            margin-top: 15px;
            @include border-top-radius(50%);
            @include border-right-radius(50%);
            @include border-bottom-radius(50%);
            @include border-left-radius(50%);
            @include filter(grayscale(100%));
            @include transition(all 0.4s ease-in-out);
        }
        &.active,
        &:hover {
            img {
                @include filter(grayscale(0));
            }
        }
    }
}
