@import "../../../material/project";
@import "../../../bourbon/bourbon";
.Footer {
    text-align: center;
    background-color: $background;
    border-top: 1px solid $border;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $grey;
    font-weight: 300;
}

.Footer-text {
    padding-top: 10px;
    opacity: 0.8;
    color: $grey;
}

.Footer-link {
    text-decoration: none;
    color: $grey !important;
    font-weight: 400;
}

.Footer-link:hover {
    text-decoration: underline;
}

.Footer-logo {
    width: 49px;
    height: 46px;
}

.social-icons {
    padding: 10px;
    img {
        margin: 10px;
        padding: 0px;
        width: 50px;
        height: 50px;
        border: 4px solid rgba(0, 0, 0, 0.05);
        @include border-top-radius(50%);
        @include border-right-radius(50%);
        @include border-bottom-radius(50%);
        @include border-left-radius(50%);
        @include filter(grayscale(100%));
        @include transition(all 0.4s ease-in-out);
        &:hover {
            border: 4px solid rgba(0, 0, 0, .1);
            @include filter(grayscale(0));
        }
    }
}
