<md-content class="Page-Container Footer iOS-hack" layout-align="center center">
    <div class="Footer-text social-icons">
        <a href="https://www.facebook.com/coins4sms" target="_blank">
            <img src="/img/icons/social/facebook.png" />
        </a>
        <a href="https://twitter.com/coins4sms" target="_blank">
            <img src="/img/icons/social/twitter.png" />
        </a>
    </div>
    <div class="Footer-text">
        www.coins4SMS.com
    </div>
    <div class="Footer-text">
        &copy; 2016 Bitmobile sp. z o.o.
    </div>
</md-content>
