h3 Płatność \#{{paymentDetailsPageController.paymentId}}
.panel.panel-default
    .panel-heading Szczegółowe informacje o płatności
        .panel-body
            .row
                .col-md-6
                    p.lead.bb Dane dotyczące płatności
                    form.form-horizontal.p-20
                        .form-group
                            .col-sm-4 Identyfikator płatności:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.id}}
                        .form-group
                            .col-sm-4 Identyfikator transakcji:
                            .col-sm-8
                            a(ui-sref="app.transaction_details({transactionId: paymentDetailsPageController.payment.transactionId})") {{paymentDetailsPageController.payment.transactionId}}
                        .form-group
                            .col-sm-4 Data dodania płatności do kolejki:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.created | date}}
                        .form-group
                            .col-sm-4 Data ostatniej modyfikacji:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.updated | date}}
                            .form-group
                            .col-sm-4 Data dokonania wypłaty:
                            .col-sm-8
                            strong {{ (paymentDetailsPageController.payment.paymentDate | date) || '-'}}
                        .form-group
                            .col-sm-4 Typ kryptowaluty:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.currency}}
                        .form-group
                            .col-sm-4 Ilość kryptowaluty do wypłaty:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.value | currency:'':7}}
                        .form-group
                            .col-sm-4 Ilość prób wypłaty:
                            .col-sm-8
                            strong {{paymentDetailsPageController.payment.trialsNumber}}
                        .form-group
                            .col-sm-4 Status
                            .col-sm-8
                            .label.label-danger(ng-if="paymentDetailsPageController.payment.payed == false") Nie zapłacono
                            .label.label-success(ng-if="paymentDetailsPageController.payment.payed == true") Płatność zakończona
                  .col-md-6
                    p.lead.bb Próby płatności zakończone niepowodzeniem
                    .alert.alert-success(ng-if="!paymentDetailsPageController.payment.paymentOrderFailuresLogs.length")    
                        em.fa.fa-check-circle-o.fa-lg.fa-fw
                        | Brak operacji zakończonych niepowodzeniem dla tej płatności
                    .table-responsive(ng-if="paymentDetailsPageController.payment.paymentOrderFailuresLogs.length")    
                        table.table.table-hover.table-bordered.table-striped
                            thead
                                tr
                                    th Data startu
                                    th Data odpowiedzi z serwera
                                    th Wiadomość błędu
                                    th.text-center Status próby
                            tbody
                                tr(ng-repeat="failureLog in paymentDetailsPageController.payment.paymentOrderFailuresLogs")
                                    td {{failureLog.created | date}}
                                    td {{failureLog.updated | date}}
                                    td {{failureLog.message}}
                                    td.text-center
                                     span.label.label-danger Błąd podczas wypłaty