h3
  | Kolejka wypłat
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !


div.panel.panel-default
  div.panel-heading
    h5
      | Legenda przedstawiająca typy transakcji widoczne w tabeli
    div.panel-body.text-center
      button.mb-sm.btn.btn-success(type="button")
        | Płatność została wysłana do klienta
      button.mb-sm.btn.btn-warning(type="button")
        | Kolejka nie podjęła jeszcze próby wysłania zapłaty
      button.mb-sm.btn.btn-danger(type="button") 
        | Błąd kolejki, próba wysłania zapłaty nieudana
.table-responsive.b0
  table.table.table-hover(datatable="" dt-options='paymentsListPageController.dtOptions' dt-columns='paymentsListPageController.dtColumns')
