.angular-google-map{
    height:100%;
    width:100%;
}
.angular-google-map-container {
    width: 100%;
    height:100%;
}
.marker_labels{
    color:white;
    background-color: black;
    padding: 8px;
}