h3 Transakcja \#{{transactionDetailsPageController.transactionId}}
.panel.panel-default
  .panel-heading Szczegółowe informacje o transakcji
  .panel-body
    .row
      .col-md-6
        p.lead.bb Dane dotyczące transakcji
        form.form-horizontal.p-20
          .form-group
            .col-sm-4 Identyfikator transakcji:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.id}}
          .form-group
            .col-sm-4 Data utworzenia transakcji:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.created | date}}
          .form-group
            .col-sm-4 Data ostatniej modyfikacji:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.updated | date}}
          .form-group
            .col-sm-4 Prowizja systemowa:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.systemCommission") 
              strong(ng-if="transactionDetailsPageController.transaction.systemCommission") {{transactionDetailsPageController.transaction.systemCommission | currency:'':2}}%
          .form-group
            .col-sm-4 Prowizja dostawcy:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.smsBrokerage") 
              strong(ng-if="transactionDetailsPageController.transaction.smsBrokerage") {{transactionDetailsPageController.transaction.smsBrokerage | currency:'':2}}%
          .form-group
            .col-sm-4 Typ kryptowaluty:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.cryptocurrency}}
          .form-group
            .col-sm-4 Typ waluty:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.smsCurrency}}
          .form-group
            .col-sm-4 Wyliczona suma kryptowaluty:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.calculatedSum") 
              strong(ng-if="transactionDetailsPageController.transaction.calculatedSum") {{transactionDetailsPageController.transaction.calculatedSum | currency:'':7}}
          .form-group
            .col-sm-4 Cena kursu kryptowaluty:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.currencyExchangeRate") 
              strong(ng-if="transactionDetailsPageController.transaction.currencyExchangeRate") {{transactionDetailsPageController.transaction.currencyExchangeRate | currency:"":2}}
          .form-group
            .col-sm-4 Wylosowany dostawca:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.provider}}
          .form-group
            .col-sm-4 Treść SMS:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.smsCommand}}
          .form-group
            .col-sm-4 Numer specjalny:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.smsLaNumber}}
          .form-group
            .col-sm-4 Wartość SMS netto:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.smsNetPrice") 
              strong(ng-if="transactionDetailsPageController.transaction.smsNetPrice") {{transactionDetailsPageController.transaction.smsNetPrice | currency:"":2}}          
          .form-group
            .col-sm-4 Wartość SMS brutto:
            .col-sm-8
              strong(ng-if="!transactionDetailsPageController.transaction.smsGrossPrice") 
              strong(ng-if="transactionDetailsPageController.transaction.smsGrossPrice") {{transactionDetailsPageController.transaction.smsGrossPrice | currency:"":2}}
          .form-group
            .col-sm-4 Status
            .col-sm-8
              .label.label-warning(ng-if="transactionDetailsPageController.transaction.paymentOrder.payed == false") Płatność została zdefiniowana
              .label.label-success(ng-if="transactionDetailsPageController.transaction.paymentOrder.payed == true") Transakcja zakończona
              .label.label-inverse(ng-if="!transactionDetailsPageController.transaction.paymentOrder") Nowa transakcja bez zdefiniowanej płatności
      .col-md-6
        p.lead.bb Informacje o płatności
        form.form-horizontal.p-20(ng-if="!transactionDetailsPageController.transaction.paymentOrder")
          .alert.alert-warning
            em.fa.fa-exclamation-circle.fa-lg.fa-fw
            | Płatność nie została zdefiniowana
        form.form-horizontal.p-20(ng-if="transactionDetailsPageController.transaction.paymentOrder")
          .form-group
            .col-sm-4 Identyfikator płatności systemowej:
            .col-sm-8
              a(ui-sref="app.payment_details({paymentId: transactionDetailsPageController.transaction.paymentOrder.id})") {{transactionDetailsPageController.transaction.paymentOrder.id }}
          .form-group
            .col-sm-4 Data utworzenia płatności:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.created | date}}
          .form-group
            .col-sm-4 Data ostatniej akcji:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.updated | date}}
          .form-group
            .col-sm-4 Data wykonania płatności:
            .col-sm-8
              strong {{ (transactionDetailsPageController.transaction.paymentOrder.payment_date | date) || "płatność jest w kolejce wypłat"}}
          .form-group
            .col-sm-4 Adres portfela:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.wallet}}
          .form-group
            .col-sm-4 Ilość kryptowaluty:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.value | currency:'':7}}
          .form-group
            .col-sm-4 Typ waluty:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.currency}}
          .form-group
            .col-sm-4 Ilość prób wypłaty:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.paymentOrder.trialsNumber}}
          .form-group
            .col-sm-4 Status
            .col-sm-8
              .label.label-danger(ng-if="transactionDetailsPageController.transaction.paymentOrder.payed == false") Płatność czeka na realizację
              .label.label-success(ng-if="transactionDetailsPageController.transaction.paymentOrder.payed == true") Płatność zakończona
    .row
      .col-md-6
        p.lead.bb Informacje o kliencie
        form.form-horizontal.p-20
          .form-group
            .col-sm-4 Kraj: 
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.country}}
          .form-group
            .col-sm-4 Numer telefonu:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.phone}}
          .form-group
            .col-sm-4 Adres IP:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.ipAddress}}
          .form-group
            .col-sm-4 Adres portfela:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.wallet}}
          .form-group
            .col-sm-4 Adres email:
            .col-sm-8
              strong {{transactionDetailsPageController.transaction.email}}
.panel
  .panel-heading Próby sprawdzenia kodu w transakcji
  .panel-body(ng-if="!transactionDetailsPageController.transaction.checkCodeLogs.length")   
    .alert.alert-warning
      em.fa.fa-exclamation-circle.fa-lg.fa-fw
      | Nie wykryto próby sprawdzania kodu
  .table-responsive(ng-if="transactionDetailsPageController.transaction.checkCodeLogs.length")    
    table.table.table-hover.table-bordered.table-striped
      thead
        tr
          th Data dla próby sprawdzenia
          th Wprowadzony kod
          th.text-center Status próby
      tbody
        tr(ng-repeat="checkTrial in transactionDetailsPageController.transaction.checkCodeLogs")
          td {{checkTrial.created | date}}
          td {{checkTrial.code}}
          td.text-center
            span.label.label-success(ng-if="checkTrial.is_valid == true") Kod prawidłowy
            span.label.label-danger(ng-if="checkTrial.is_valid == false") Kod nieprawidłowy