h3
  | Lista wszystkich transakcji
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !


div.panel.panel-default
  div.panel-heading
    h5
      | Legenda przedstawiająca typy transakcji widoczne w tabeli
    div.panel-body.text-center
      button.mb-sm.btn.btn-inverse(type="button")
        | Nowa transakcja bez zdefiniowanej płatności
      button.mb-sm.btn.btn-warning(type="button")
        | Płatność przekazana do kolejki wypłat
      button.mb-sm.btn.btn-success(type="button")
        | Transakcja zakończona powodzeniem
.table-responsive.b0
  table.table.table-hover(datatable="" dt-options='transactionsListPageController.dtOptions' dt-columns='transactionsListPageController.dtColumns')
