h3
  | Konfiguracja API - BitBay.pl
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !



// START row
.row
  .col-md-12
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Dostęp do API BitBay.pl
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Klucz dostępu
                .col-sm-6
                  input.form-control(type='text', placeholder="Klucz publiczny do API", name='key', required='', ng-model="ctrl.data.key")
                  span.text-danger(ng-show="form.key.$error.required && form.key.$touched") Podaj klucz API
                .col-sm-4
                  small.text-muted Klucz api jest dostępny w panelu ustawień giełdy BitBay.pl
            fieldset
              .form-group
                label.col-sm-2.control-label Sekret
                .col-sm-6
                  input.form-control(type='text', placeholder="klucz prywatny do API", name='secret', required='', ng-model="ctrl.data.secret")
                  span.text-danger(ng-show="form.secret.$error.required && form.secret.$touched") Podaj sekret dla klucza
                .col-sm-4
                  small.text-muted Sekret jest pokazywany tylko raz podczas generowania nowej pary kluczy

        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="ctrl.saveAction()") Zapisz dane dostępowe


    div.alert.alert-warning.text-center
      | Pamiętaj, zmiana daych dostępowych do giełdy BitBay może unieruchomić wypłaty dla klientów. Aktualny kurs kryptowaluty nie jest pobierany z giełdy, przez co złe dane dostępowe 
      | nie będą miały wpływu na działanie aplikacji klienckiej


// START row
.row
  .col-md-12
    form.form-horizontal(name='paymentLimitsForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Limity wypłat
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label BTC
                .col-sm-6
                  input.form-control(type='number', min="0.001", step="0.001" placeholder="Minimalna ilość wypłacanych BTC z giełdy", name='btc_min_payment', required='', ng-model="ctrl.limits.btc_min_payment")
                  span.text-danger(ng-show="paymentLimitsForm.btc_min_payment.$error.required && paymentLimitsForm.btc_min_payment.$touched") Podaj minimalną ilość wypłacanych BTC
                  span.text-danger(ng-show="paymentLimitsForm.btc_min_payment.$error.min && paymentLimitsForm.btc_min_payment.$touched") Minimalna wartość dla tego pola to 0.001
                .col-sm-4
                  small.text-muted Jeżeli wartość BTC będzie mniejsza niż powyższy limit, użytkownik otrzyma informację o zmianie wartości SMS
            fieldset
              .form-group
                label.col-sm-2.control-label LTC
                .col-sm-6
                  input.form-control(type='number', min="0.001", step="0.001" placeholder="Minimalna ilość wypłacanych LTC z giełdy", name='ltc_min_payment', required='', ng-model="ctrl.limits.ltc_min_payment")
                  span.text-danger(ng-show="paymentLimitsForm.ltc_min_payment.$error.required && paymentLimitsForm.ltc_min_payment.$touched") Podaj minimalną ilość wypłacanych LTC
                  span.text-danger(ng-show="paymentLimitsForm.ltc_min_payment.$error.min && paymentLimitsForm.ltc_min_payment.$touched") Minimalna wartość dla tego pola to 0.001
                .col-sm-4
                  small.text-muted Jeżeli wartość LTC będzie mniejsza niż powyższy limit, użytkownik otrzyma informację o zmianie wartości SMS
            fieldset
              .form-group
                label.col-sm-2.control-label LSK
                .col-sm-6
                  input.form-control(type='number', min="0.001", step="0.001" placeholder="Minimalna ilość wypłacanych LSK z giełdy", name='lsk_min_payment', required='', ng-model="ctrl.limits.lsk_min_payment")
                  span.text-danger(ng-show="paymentLimitsForm.lsk_min_payment.$error.required && paymentLimitsForm.lsk_min_payment.$touched") Podaj minimalną ilość wypłacanych LSK
                  span.text-danger(ng-show="paymentLimitsForm.lsk_min_payment.$error.min && paymentLimitsForm.lsk_min_payment.$touched") Minimalna wartość dla tego pola to 0.001
                .col-sm-4
                  small.text-muted Jeżeli wartość LSK będzie mniejsza niż powyższy limit, użytkownik otrzyma informację o zmianie wartości SMS
            fieldset
              .form-group
                label.col-sm-2.control-label ETH
                .col-sm-6
                  input.form-control(type='number', min="0.001", step="0.001" placeholder="Minimalna ilość wypłacanych ETH z giełdy", name='eth_min_payment', required='', ng-model="ctrl.limits.eth_min_payment")
                  span.text-danger(ng-show="paymentLimitsForm.eth_min_payment.$error.required && paymentLimitsForm.eth_min_payment.$touched") Podaj minimalną ilość wypłacanych ETH
                  span.text-danger(ng-show="paymentLimitsForm.eth_min_payment.$error.min && paymentLimitsForm.eth_min_payment.$touched") Minimalna wartość dla tego pola to 0.001
                .col-sm-4
                  small.text-muted Jeżeli wartość ETH będzie mniejsza niż powyższy limit, użytkownik otrzyma informację o zmianie wartości SMS


        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="paymentLimitsForm.$invalid" ng-click="ctrl.saveLimitsAction()") Zapisz informacje o limitach

// START row
.row
  .col-md-12
    form.form-horizontal(name='paymentFeesForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Stałe prowizje od wypłat
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label BTC
                .col-sm-6
                  input.form-control(type='number', min="0.00001", step="0.00001" placeholder="Prowizja od wypłaty BTC", name='btc_payment_fee', required='', ng-model="ctrl.fees.btc_payment_fee")
                  span.text-danger(ng-show="paymentFeesForm.btc_payment_fee.$error.required && paymentFeesForm.btc_payment_fee.$touched") Podaj stałą pobieraną z każdej transakcji przez BitBay
                  span.text-danger(ng-show="paymentFeesForm.btc_payment_fee.$error.min && paymentFeesForm.btc_payment_fee.$touched") Minimalna wartość dla tego pola to 0.00001
                .col-sm-4
                  small.text-muted Wartość dodawana do każdej wypłaty waluty BTC
            fieldset
              .form-group
                label.col-sm-2.control-label LTC
                .col-sm-6
                  input.form-control(type='number', min="0.00001", step="0.00001" placeholder="Prowizja od wypłaty LTC", name='ltc_payment_fee', required='', ng-model="ctrl.fees.ltc_payment_fee")
                  span.text-danger(ng-show="paymentFeesForm.ltc_payment_fee.$error.required && paymentFeesForm.ltc_payment_fee.$touched") Podaj stałą pobieraną z każdej transakcji przez BitBay
                  span.text-danger(ng-show="paymentFeesForm.ltc_payment_fee.$error.min && paymentFeesForm.ltc_payment_fee.$touched") Minimalna wartość dla tego pola to 0.00001
                .col-sm-4
                  small.text-muted Wartość dodawana do każdej wypłaty waluty LTC
            fieldset
              .form-group
                label.col-sm-2.control-label LSK
                .col-sm-6
                  input.form-control(type='number', min="0.00001", step="0.00001" placeholder="Prowizja od wypłaty LSK", name='lsk_payment_fee', required='', ng-model="ctrl.fees.lsk_payment_fee")
                  span.text-danger(ng-show="paymentFeesForm.lsk_payment_fee.$error.required && paymentFeesForm.lsk_payment_fee.$touched") Podaj stałą pobieraną z każdej transakcji przez BitBay
                  span.text-danger(ng-show="paymentFeesForm.lsk_payment_fee.$error.min && paymentFeesForm.lsk_payment_fee.$touched") Minimalna wartość dla tego pola to 0.00001
                .col-sm-4
                  small.text-muted Wartość dodawana do każdej wypłaty waluty LSK
            fieldset
              .form-group
                label.col-sm-2.control-label ETH
                .col-sm-6
                  input.form-control(type='number', min="0.00001", step="0.00001" placeholder="Prowizja od wypłaty ETH", name='eth_payment_fee', required='', ng-model="ctrl.fees.eth_payment_fee")
                  span.text-danger(ng-show="paymentFeesForm.eth_payment_fee.$error.required && paymentFeesForm.eth_payment_fee.$touched") Podaj stałą pobieraną z każdej transakcji przez BitBay
                  span.text-danger(ng-show="paymentFeesForm.eth_payment_fee.$error.min && paymentFeesForm.eth_payment_fee.$touched") Minimalna wartość dla tego pola to 0.00001
                .col-sm-4
                  small.text-muted Wartość dodawana do każdej wypłaty waluty ETH


        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="paymentFeesForm.$invalid" ng-click="ctrl.saveFeesAction()") Zapisz informacje o stałych prowizjach