h3
  // START Language list
  .pull-right
    button.btn.btn-default(ng-click='bitbay.testApiMethod()')
      | Test zapytania do API API

  | Lista operatorów sieci komórkowych
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !


operators-list

