h3
  | Konfiguracja dostawców SMS
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

div.providers_list
  // START panel
  .panel.panel-default
    .panel-heading
      | Dostawcy usługi premium SMS
    // START table-responsive
    .table-responsive
      table#table-ext-2.table.table-striped.table-bordered.table-hover
        thead
          tr
            th #ID
            th Informacje
            th Skonfigurowany
            th Włączony
        tbody
          tr(ng-repeat="provider in providersList.providers")
            td
              {{ provider.id }}
            td
              .media
                  a.pull-left(href='#')
                    img.media-object.img-responsive(src="{{provider.image}}" width="200",alt="{{provider.name}}")
                  .media-body
                    .pull-right.last_modification Ostatnia modyfikacja: {{provider.updated | date}}
                    h4.media-heading {{provider.name}}
                    p 
                      strong Data ostatniej aktywności: 
                        span(ng-if="provider.last_active") {{ provider.last_active | date }}
                        span(ng-if="!provider.last_active") dostawca jeszcze nie był aktywny
                    p 
                     | Adres strony dostawcy: <a href="{{provider.www}}" target="_blank">{{provider.www}}</a>
                    p {{provider.description}}
                    p.pull-right
                     button.btn.btn-success.btn-xs(type='button', ui-sref="app.provider_configuration({providerId: provider.id})") Edytuj konfigurację

            td.text-center
              i.fa.fa-check-circle.fa-2x(ng-if="provider.configured == 1")
              i.fa.fa-times-circle.fa-2x(ng-if="provider.configured == 0")
            td.text-center
              label.switch
                input(type='checkbox', ng-checked="provider.enabled == true" ng-click="providersList.changeProviderEnabledStatus(provider.id)")
                span
    // END table-responsive
    .panel-footer
      .row
        span.providers_instruction
          | Dostawcy ze statusem "wyłączony" nie biorą udziału w losowaniu na stronie publicznej. Żeby dostawca mógł zostać dostawcą aktywnym(udział w losowaniu) musi być skonfigurowany. Brak wymaganego pola w konfiguracji wyklucza dostawcę z losowania.
  // END panel
