h3
  .pull-right
    button.btn.btn-default(ui-sref="app.providers_list")
      | Wróć do listy dostawców
  | Konfiguracja dostawcy "{{providerConfiguration.provider.name}}"
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !


// START row
.row
  .col-md-12
    form.form-horizontal(name='mainForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Informacje ogólne
            span.last-updated-time (ostatnia zmiana: {{providerConfiguration.provider.updated | date}})
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Identyfikator
                .col-sm-6
                  input.form-control(type='text', placeholder="Identyfikator", name='id', required='', ng-model="providerConfiguration.provider.id" disabled)
                  span.text-danger(ng-show="mainForm.id.$error.required && mainForm.id.$touched") Identyfikator jest wymagany
                .col-sm-4
                  small.text-muted Identyfikator liczbowy, nie podlega zmianie przez użytkownika systemu
            fieldset
              .form-group
                label.col-sm-2.control-label Nazwa dostawcy
                .col-sm-6
                  input.form-control(type='text', placeholder="Klucz publiczny do API", name='name', required='', ng-model="providerConfiguration.provider.name" disabled)
                  span.text-danger(ng-show="mainForm.name.$error.required && mainForm.name.$touched") Nazwa dostawcy jest wymagana
                .col-sm-4
                  small.text-muted Nazwa dostawcy jest niezmienna w całym systemie, zmiana nazwy wiąże się ze zmianą dużej ilości danych w bazie danych. Operacja może zostać wykonana wyłącznie przez autora aplikacji.
            fieldset
              .form-group
                label.col-sm-2.control-label Adres obrazka
                .col-sm-6
                  input.form-control(type='text', placeholder="Logo dostawcy", name='image', ng-model="providerConfiguration.provider.image")
                .col-sm-4
                  small.text-muted Obraz wyświetlający się na wszystkich listach przy dostawcy(logo serwisu albo inny obraz ułatwiający identyfikację)
            fieldset
              .form-group
                label.col-sm-2.control-label Adres strony dostawcy
                .col-sm-6
                  input.form-control(type='url', placeholder="Adres strony dostawcy", name='www', required='', ng-model="providerConfiguration.provider.www")
                  span.text-danger(ng-show="mainForm.www.$error.required && mainForm.www.$touched") Adres strony dostawcy jest wymagany
                  span.text-danger(ng-show="mainForm.www.$error.url && mainForm.www.$touched") Adres URL jest w nieprawidłowym formacie

                .col-sm-4
                  small.text-muted Adres do strony dostawcy ułatwi poruszanie się w systemie. Dzięki odnośnikowi użytkownik systemu będzie mógł w łatwy sposób przejść na stronę dostawcy(np. w przypadku zmiany czegoś w panelu). Adres strony musi być prawidłowym adresem URL i wymagane jest, żeby zaczynał się od prefiksu http://
            fieldset
              .form-group
                label.col-sm-2.control-label Adres do regulaminu dostawcy
                .col-sm-6
                  input.form-control(type='url', placeholder="Regulamin dostawcy", name='rules_url', ng-model="providerConfiguration.provider.rules_url")
                  span.text-danger(ng-show="mainForm.rules_url.$error.url && mainForm.rules_url.$touched") Adres do regulaminu jest w nieprawidłowym formacie

                .col-sm-4
                  small.text-muted W niektórych przypadkach dostawca wymusza na swoich klientach podawanie adresu do regulaminu.
            fieldset
              .form-group
                label.col-sm-2.control-label Adres do formularza reklamacyjnego dostawcy
                .col-sm-6
                  input.form-control(type='url', placeholder="Adres do formularza reklamacyjnego", name='complaint_from_url', ng-model="providerConfiguration.provider.complaint_from_url")
                  span.text-danger(ng-show="mainForm.complaint_from_url.$error.url && mainForm.complaint_from_url.$touched") Adres URL jest w nieprawidłowym formacie

                .col-sm-4
                  small.text-muted W niektórych przypadkach dostawca wymusza na swoich klientach podawanie adresu do formularza reklamacyjnego dostawcy
            fieldset
              .form-group
                label.col-sm-2.control-label Opis dostawcy
                .col-sm-6
                  textarea.form-control( placeholder="Opis dostawcy/uwagi", name='description', ng-model="providerConfiguration.provider.description")
                .col-sm-4
                  small.text-muted W tym miejscu możesz wpisać cokolwiek(opis dostawcy, uwagi, jakieś informacje dodatkowe). Opis nie jest wymagany.
        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="mainForm.$invalid", ng-click="providerConfiguration.saveMainInfoAction()") Zapisz zmiany ogólne

// START row
.row
  .col-md-12
    form.form-horizontal(name='configurationForm' novalidate='')
// START panel
.panel.panel-default
  .panel-heading
    .panel-title Dane dostępowe do API 
      span.last-updated-time (ostatnia zmiana: {{providerConfiguration.configuration.updated | date}})
  .panel-body
      fieldset
        .form-group
          label.col-sm-2.control-label Login
          .col-sm-6
            input.form-control(type='text', placeholder="Login do API", name='login' ng-model="providerConfiguration.configuration.login")
      fieldset
        .form-group
          label.col-sm-2.control-label Hasło
          .col-sm-6
            input.form-control(type='text', placeholder="Hasło do API", name='password',  ng-model="providerConfiguration.configuration.password")
      div.col-sm-12
        small.text-muted 
          | Dane dostępowe są wymagane tylko w przypadku niektórych dostawców usługi premium SMS. Przykładem może być 
          | JustPay, który wymaga podania loginu i hasła(takiego samego jak do panelu) podczas każdego odpytania API.
          | Niektóry dostawcy wymagają dodatkowego zabezpieczenia jakim jest token generowany w panelu. Tokenem dla przykładu
          | posługuje się MicroSMS. W przypadku tych dostawców przynajmniej jedno pole musi być uzupełnione, żeby API działao prawidłowo.
  .panel-footer.text-center
    button.btn.btn-info(ng-disabled="configurationForm.$invalid" ng-click="providerConfiguration.saveConfigurationAction()") Zapisz zmiany w konfiguracji API

div.alert.alert-warning.text-center
  | Pamiętaj, żeby dane zostały zapisane do bazy, musisz je potwierdzić przyciskając guzik na samym dole belki. Przycisk jest nieaktywny, kiedy jakiekolwiek z pól jest nieprawidłowo uzupełnione.

//- Sms table
provider-sms-list(provider-id="providerConfiguration.providerId")