<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="dotpay-header" layout-align="center center">
        <div class="md-headline subpage-header-title">Usługę Premium SMS obsługuje Fortumo.com</div>
    </div>

    <div class="subpage-body">
        <fortumo-sms-panel></fortumo-sms-panel>
    </div>

</div>
