md-dialog.md-default-theme.md-transition-in(md-theme='default', aria-label='Dodawanie nowego kraju', ng-class='dialog.css', role='dialog')
  md-dialog-content#dialog_0.md-dialog-content(role='document', tabindex='-1')
    h2.md-title.ng-binding Dodaj nowy kraj
    .md-dialog-content-body.ng-isolate-scope(md-template='::dialog.mdContent')

    form(name='newCountryForm')
      .col-sm-6
          md-input-container
            label Podaj nazwę kraju
            input(name='Country_name', ng-model='newCountryDialogController.data.name', required, placeholder='Nazwa kraju', type='text', pattern=".{3,15}")
            div(ng-messages='newCountryForm.Country_name.$error', ng-if="newCountryForm.Country_name.$touched", multiple='')
              div(ng-message='required')
                | Nazwa kraju jest wymagana
              div(ng-message='pattern')
                | Nazwa musi mieć od 3 do 15 znaków
      .col-sm-6
          md-input-container
            label Podaj skrót dla waluty
            input(name='Country_code', ng-model='newCountryDialogController.data.code', required, placeholder='Kod kraju', type='text', pattern=".{2,5}")
            div(ng-messages='newCountryForm.Country_code.$error', ng-if="newCountryForm.Country_code.$touched", multiple='')
              div(ng-message='required')
                | Skrót kraju jest wymagany
              div(ng-message='pattern')
                | Skrót musi mieć od 2 do 5 znaków
  .md-actions
    // ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.ng-scope.md-default-theme.md-ink-ripple(ng-click='newCountryDialogController.cancel()')
      span.ng-binding.ng-scope Anuluj
    // end ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.md-default-theme.md-ink-ripple(ng-click='newCountryDialogController.add()', ng-disabled='newCountryForm.$invalid')
      span.ng-binding.ng-scope Dodaj kraj
