md-dialog.md-default-theme.md-transition-in(md-theme='default', aria-label='Dodawanie nowego kraju', ng-class='dialog.css', role='dialog')
  md-dialog-content#dialog_0.md-dialog-content(role='document', tabindex='-1')
    h2.md-title.ng-binding Edycja kraju
    .md-dialog-content-body.ng-isolate-scope(md-template='::dialog.mdContent')

    form(name='editCountryForm')
      .col-sm-12
          md-input-container
            label Nazwa kraju
            input(name='operator_name', ng-model='editCountryDialogController.data.name', required, placeholder='Nazwa kraju', type='text', pattern=".{3,15}")
            div(ng-messages='editCountryForm.operator_name.$error', ng-if="editCountryForm.operator_name.$touched", multiple='')
              div(ng-message='required')
                | Nazwa kraju jest wymagana
              div(ng-message='pattern')
                | Nazwa musi mieć od 3 do 15 znaków

      .col-sm-12
          md-input-container
            label Skrót kraju
            input(name='Country_code', ng-model='editCountryDialogController.data.code', required, placeholder='Skrót kraju', type='text', pattern=".{2,5}")
            div(ng-messages='editCountryForm.Country_code.$error', ng-if="editCountryForm.Country_code.$touched", multiple='')
              div(ng-message='required')
                | Skrót kraju jest wymagany
              div(ng-message='pattern')
                | Skrót musi mieć od 2 do 5 znaków

  .md-actions
    // ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.ng-scope.md-default-theme.md-ink-ripple(ng-click='editCountryDialogController.cancel()')
      span.ng-binding.ng-scope Anuluj
    // end ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.md-default-theme.md-ink-ripple(ng-click='editCountryDialogController.edit()', ng-disabled='editCountryForm.$invalid')
      span.ng-binding.ng-scope Zmień dane
