@import "../../../bourbon/bourbon";

$logo_background_color: #297CB9;
$logo_width: 170px;
$logo_height: 48px;

.coins4sms-logo-image {
  @include border-top-radius(5px);
  background-color: $logo_background_color;
  width: $logo_width;
  height: $logo_height;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  position: relative;
  top: 17px;
  left: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

.menu-icon-button {
  margin-top: 5px;
}

.page-mobile-menu {
  md-menu-item {
    .md-button span {
      width: 100%;
      text-align: center !important;
    }
  }
}
