<md-content class="Page-Container site-header" ng-cloak>
    <div layout="row">
        <div flex="100" flex-offset="0" class="site-header-container">
            <div layout="row" layout-align="space-between">
                <img src="img/logo/coins4sms-logo.png" ui-sref="app.index"
                     class="coins4sms-logo-image animated fadeIn"/>
                <div layout="row" hide-xs layout-align="center stretch" class="menu-links-container">
                    <a hide-xs class="site-header-link md-subhead animated fadeInLeft" ui-sref="app.index"
                       ui-sref-active="active">{{::'MENU_MAIN_PAGE' | translate}}</a>
                    <a hide-xs class="site-header-link md-subhead animated fadeInLeft" ui-sref="app.about"
                       ui-sref-active="active">{{::'MENU_ABOUT_US' | translate}}</a>
                    <a hide-xs class="site-header-link md-subhead animated fadeInLeft" ui-sref="app.contact"
                       ui-sref-active="active">{{::'MENU_CONTACT' | translate}}</a>
                    <a hide-xs class="site-header-link md-subhead animated fadeInLeft" ui-sref="app.partnership"
                       ui-sref-active="active">{{::'MENU_PARTNERSHIP' | translate}}</a>
                    <a hide-xs class="site-header-link md-subhead animated fadeInLeft"
                       href="/files/{{appHeaderController.language}}/rules.pdf" target="_blank">{{::'MENU_RULES' |
                        translate}}</a>
                    <a hide-xs class="site-header-flag animated fadeInLeft"
                       ng-click="appHeaderController.changeLanguageAction('PL')"
                       ng-class=" appHeaderController.language == 'PL' ? 'active' :  ''">
                        <img src="/img/icons/flags/pl.png"/>
                    </a>
                    <a hide-xs class="site-header-flag animated fadeInLeft"
                       ng-click="appHeaderController.changeLanguageAction('EN')"
                       ng-class=" appHeaderController.language == 'EN' ? 'active' :  ''">
                        <img src="/img/icons/flags/uk.png"/>
                    </a>
                </div>
                <div layout="row" layout-align="right stretch" class="mobile-menu-links-container">
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open mobile menu" class="md-icon-button" ng-click="$mdOpenMenu($event)"
                                   layout-align="center center">
                            <md-icon md-menu-align-target md-svg-icon="menu:black" class="menu-icon-button"></md-icon>
                        </md-button>
                        <md-menu-content width="6" class="page-mobile-menu">
                            <md-menu-item>
                                <md-button ui-sref="app.index">
                                    {{::'MENU_MAIN_PAGE' | translate}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="app.about">
                                    {{::'MENU_ABOUT_US' | translate}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="app.contact">
                                    {{::'MENU_CONTACT' | translate}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="app.partnership">
                                    {{::'MENU_PARTNERSHIP' | translate}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button href="/files/{{appHeaderController.language}}/rules.pdf">
                                    {{::'MENU_RULES' | translate}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item class="languages">
                                <md-button href="#">
                                    {{::'SELECT_LANGUAGE' | translate}}:
                                    <a class="site-header-flag"
                                       ng-click="appHeaderController.changeLanguageAction('PL')"
                                       ng-class=" appHeaderController.language == 'PL' ? 'active' :  ''">
                                        <img src="/img/icons/flags/pl.png"/>
                                    </a>
                                    <a class="site-header-flag"
                                       ng-click="appHeaderController.changeLanguageAction('EN')"
                                       ng-class=" appHeaderController.language == 'EN' ? 'active' :  ''">
                                        <img src="/img/icons/flags/uk.png"/>
                                    </a>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</md-content>
