<div class="steps-form-container">
    <multi-step-container class="sliding-steps simple-prev-next animated fadeIn" steps="multiStepsFormController.steps" on-step-change="multiStepsFormController.onStepChange()">
        <div layout="row">
            <div flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout="row">
                <!-- Step title -->
                <div class="title">
                    <strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title | translate}}"></strong>
                </div>
            </div>
        </div>
        <!-- Step template -->
        <main step-container layout="row" flex="100"></main>
        <div layout="row" steps="multiStepsFormController.steps" class="sliding-steps simple-prev-next" layout-align="space-between center" ng-hide="multiStepsFormController.transactionSuccesed == true">
            <div flex="50" layout="column" layout-align="center-start">
                <md-button ng-disabled="$isFirst()" class="md-raised md-large button-back animated fadeInLeft" ng-click="$previousStep()" scroll-to-top>
                    <span class="fa fa-chevron-left"></span> {{::'MULTI_STEPS_FORM_PREVIOUS_STEP' | translate }}</md-button>
            </div>
            <div flex="50" layout="column" layout-align="center end">
                <md-button ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" class="md-raised md-large button-next animated fadeInRight" ng-click="$nextStep()" scroll-to-top>
                    <span class="fa fa-chevron-left"></span> {{::'MULTI_STEPS_FORM_NEXT_STEP' | translate }}
                </md-button>
            </div>
        </div>
    </multi-step-container>
    <br/>
    <br/>
</div>
