@import "../../../material/project";
@import "../../../bourbon/bourbon";
$form-input-color: #F4F4F4;
$form-input-underline-color: #F4F4F4;
$button-border-size: 2px;
#multi-steps-form {
    color: white;
    width: 100%;
    text-align: center;
    // .prev-button, .next-button {
    //     width: 20%;
    // }
    // .next-button {
    //     float: right;
    // }

    a {
        color: white !important;
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 21px;
        padding: 15px 0 15px 0;
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, .055);
        border-top: 1px solid rgba(255, 255, 255, .08);
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
    .form-step {
        width: 100%;
    }
    .steps-form-container {
        margin-top: 80px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        // Form
        #order-form-part-one {
            md-input-container {
                label {
                    color: $form-input-underline-color;
                }
                input {
                    border-color: $form-input-underline-color;
                    color: $form-input-color;
                }
                .md-input-message-animation {
                    color: $form-input-underline-color;
                }
                md-select {
                    color: $form-input-color;
                    .md-text {
                        color: $form-input-color;
                    }
                    .md-select-value {
                        span {
                            text-align: left;
                        }
                        border-bottom-color: $form-input-underline-color !important;
                        color: $form-input-underline-color;
                    }
                }
                md-checkbox {
                    .md-icon {
                        border-color: $form-input-underline-color !important;
                    }
                }
            }
            a {
                color: $brand;
                text-decoration: none;
                font-weight: 700;
            }
            .payment-information {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: rgba(255, 255, 255, 0.05);
                padding: 35px;
                box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12) !important;
                &:hover {
                    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .4), 0 7px 10px 1px rgba(0, 0, 0, .34), 0 2px 16px 1px rgba(0, 0, 0, .22) !important;
                    @include transition(all 0.2s ease-in-out);
                }
                .payment-content {
                    line-height: 30px;
                }
                .spinner {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    margin: 100px auto;
                }
                .double-bounce1,
                .double-bounce2 {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #fff;
                    opacity: 0.6;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
                    animation: sk-bounce 2.0s infinite ease-in-out;
                }
                .double-bounce2 {
                    -webkit-animation-delay: -1.0s;
                    animation-delay: -1.0s;
                }
                @-webkit-keyframes sk-bounce {
                    0%,
                    100% {
                        -webkit-transform: scale(0.0)
                    }
                    50% {
                        -webkit-transform: scale(1.0)
                    }
                }
                @keyframes sk-bounce {
                    0%,
                    100% {
                        transform: scale(0.0);
                        -webkit-transform: scale(0.0);
                    }
                    50% {
                        transform: scale(1.0);
                        -webkit-transform: scale(1.0);
                    }
                }
                strong.number {
                    font-size: 25px;
                }
                strong.command {
                    font-size: 20px;
                }
                small.provider-info {
                    margin-top: 50px;
                    color: rbga(255, 255, 255, .5) !important;
                    p {
                        line-height: 10px !important;
                    }
                }
            }
            .sms-code-input-container {
                input {
                    @include border-top-radius(4px);
                    @include border-right-radius(4px);
                    @include border-bottom-radius(4px);
                    @include border-left-radius(4px);
                    background-color: transparent;
                    color: $border;
                    padding: 10px;
                    border: 2px solid $border;
                    text-align: center;
                    margin-top: 10px;
                    font-weight: 700;
                    &:focus {
                        outline: none !important;
                    }
                }
                .md-button.md-raised:not([disabled]) {
                    margin-top: 30px;
                    box-shadow: 0 2px 5px 0 rgba(248, 255, 1, 0.3);
                    width: 100%;
                }
            }
        }
        .success_message {
            min-height: 250px;
            padding: 50px;
            font-size: 20px;
            // @include background-image(url("/img/icons/ic_done_white_256px.svg"));
            // background-position: center bottom, center;
            // background-repeat: no-repeat, repeat-x;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: rgba(157, 227, 27, 0.03);
            padding: 35px;
            box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12) !important;
        }
    }
    // Buttons
    .button-next,
    .button-back {
        background-color: transparent;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: bold;
        color: $border !important;
        border-radius: 4px;
        border-top: $button-border-size solid $border-inactive;
        border-bottom: $button-border-size solid $border-inactive;
        transition: box-shadow 250ms;
        width: 160px;
        &:disabled {
            background-color: transparent !important;
            border-color: rgba(255, 255, 255, .1);
            color: rgba(255, 255, 255, .1) !important;
        }
    }
    .button-next {
        border-radius: 4px 0 0 4px;
        margin-right: 0 !important;
        border-left: $button-border-size solid $border-inactive;
    }
    .button-back {
        border-radius: 0 4px 4px 0;
        margin-left: 0 !important;
        border-right: $button-border-size solid $border-inactive;
    }
    .button-next:hover,
    .button-back:hover {
        box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12) !important;
        background-color: $border;
        color: $black !important;
        @include transition(all 0.2s ease-in-out);
    }
    // Animations
    .sliding-steps main,
    .sliding-steps main .well {
        min-height: 200px;
        margin: 0;
    }
    .sliding-steps main {
        position: relative;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .sliding-steps main .well {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    // .sliding-steps .form-step.ng-enter,
    // .sliding-steps .form-step.ng-leave {
    //     -webkit-transition: transform .5s ease-in-out;
    //     transition: transform .5s ease-in-out;
    // }
    // .sliding-steps .step-forward .form-step.ng-enter {
    //     transform: translateX(100%);
    // }
    // .sliding-steps .step-forward .form-step.ng-enter.ng-enter-active {
    //     transform: translateX(0);
    // }
    // .sliding-steps .step-forward .form-step.ng-leave {
    //     transform: translateX(100%);
    // }
    // .sliding-steps .step-forward .form-step.ng-leave.ng-leave-active {
    //     transform: translateX(-100%);
    // }
    // .sliding-steps .step-backward .form-step.ng-enter {
    //     transform: translateX(-100%);
    // }
    // .sliding-steps .step-backward .form-step.ng-enter.ng-enter-active {
    //     transform: translateX(0);
    // }
    // .sliding-steps .step-backward .form-step.ng-leave {
    //     /*transform: translateX(100%);*/
    // }
    // .sliding-steps .step-backward .form-step.ng-leave.ng-leave-active {
    //     transform: translateX(100%);
    // }
}
