h3
  | Dashboard
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START widgets box
dashboard-boxes

// END widgets box

// START chart
.row
  .col-lg-12
    // START widget
    #panelChart9.panel.panel-default
      .panel-heading
        .panel-title Ilość wysłanych SMSów w całym roku - zestawienie dostawców
      .panel-wrapper(uib-collapse="panelChart9")
        .panel-body
          flot(src="'adminPanelApp/example_data/dashboard_line_chart.json'", options='dashboardPageController.splineOptions', height="300px")
    // END widget
// END chart

.row
  .col-lg-6
    last-transactions-panel
  .col-lg-6
    last-payments-panel


