.providers_list {
    .badge {
        color: white;
        background-color: #ADADAD;
    }
    table {
        tbody {
            tr td {
                .fa-check-circle {
                    color: #5F8C46;
                }
                .fa-times-circle {
                    color: #E5464B;
                }
                .last_modification {
                    color: #ADADAD;
                }
                .media img {
                    max-width: 200px;
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
            }
        }
    }
    .providers_instruction {
        color: #ADADAD;
        margin-left: 10px;
        margin-right: 10px;
    }
}
