<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="subpage-header" layout-align="center center">
        <div class="md-headline subpage-header-title">{{::'CONTACT_PAGE_TITLE' | translate}}</div>
    </div>
    <div class="Landing-laravelAngular">
        <div class="Landing-ampersand" hide show-gt-sm></div>
        <div layout="column" layout-gt-sm="row">
            <div flex="60" class="contact-form-container" layout-align="center center">
                <h4 class="md-display-2 page-title">
                    {{::'CONTACT_PAGE_CONTENT' | translate}}
                </h4>
                <div class="md-title page-subtitle">
                    <contact-form></contact-form>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
