@media (max-width: 470px) {
    .send-message-container {
        padding: 5px;
        .contact-form-input-container {
            width: 100%;
        }
        &>div {
            width: 80%;
        }
    }
}

@media (min-width: 471px) {
    .send-message-container {
        padding: 40px;
        .contact-form-input-container {
            width: 100%;
        }
        &>div {
            width: 80%;
        }
    }
}
