doctype html
html(lang="pl", data-ng-app="adminPanel")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(data-ng-bind="::pageTitle()") Cons4SMS.com - Panel administracyjny
    // Bootstrap styles
    link(rel='stylesheet', href='/adminPanelApp/css/bootstrap.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='/adminPanelApp/css/bootstrap-rtl.css', data-ng-if="app.layout.isRTL")
    // ngMaterial styles
    link(rel='stylesheet', href='/adminPanelApp/vendor/angular-material/angular-material.css')
    // Application styles
    link(rel='stylesheet', href='/adminPanelApp/css/app.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='/adminPanelApp/css/app-rtl.css', data-ng-if="app.layout.isRTL")
    // Themes
    link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")
    link(rel='stylesheet', href='/adminPanelApp/css/pages.css')
    // base(href="http://coins4sms.dev/", target="_blank")
    @if(App::environment()=='local')
    base(href="http://admin.coins4sms.dev/", target="_blank")
    @else
    base(href="https://admin.coins4sms.com/", target="_blank")
    @endif

  body(data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}")

    div(data-preloader)

    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='/adminPanelApp/js/base.js')
    script(src='/adminPanelApp/vendor/angular-material/angular-material.js')
    script(src='/adminPanelApp/js/app.js')
    //- templates:js
    //- endinject
