h3
  // START Language list
  .pull-right
    button.btn.btn-default(ng-click='bitbay.testApiMethod()')
      | Test zapytania do API API
    //.btn-group(uib-dropdown='', is-open='language.listIsOpen')
    //  button.btn.btn-default(type='button', uib-dropdown-toggle="")
    //    | {{language.selected}}
    //    span.caret
    //  ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
    //    li(ng-repeat='(localeId, langName) in language.available')
    //      a(ng-click='language.set(localeId, $event)', href='#') {{langName}}
  // END Language list

  | Giełda BitBay.pl
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

bit-bay-wallet-info-panels
bit-bay-orders-list-panel
bit-bay-history-panel

