.block-center.mt-xl.wd-xl.login-block.login-background(ng-controller="LoginController as login")
    // START panel
    .panel.panel-inverse.panel-flat
        .panel-body
            form.form-validate(role='form', ng-submit="login.login()", name='login.loginForm', novalidate='').mb-lg
                .form-group.has-feedback
                    input.form-control(type='email', name="account_email" placeholder='Adres e-mail', autocomplete="off", ng-model="login.account.email", required='')
                    span.text-danger(ng-show="login.loginForm.account_email.$touched && login.loginForm.account_email.$error.required") To pole jest wymagane
                    span.text-danger(ng-show="login.loginForm.account_email.$touched && login.loginForm.account_email.$error.email") Adres e-mail jest w nieodpowiednim formacie
                .form-group.has-feedback
                    input.form-control(type='password', name="account_password" placeholder='Password', ng-model="login.account.password", required='')
                    span.text-danger(ng-show="login.loginForm.account_password.$touched && login.loginForm.account_password.$error.required") To pole jest wymagane
                button.btn.btn-block.btn-primary.mt-lg(type='submit') Zaloguj się
            .alert.alert-danger.text-center(ng-show='login.authMsg') {{login.authMsg}}

    // END panel
    .p-lg.text-center
        span &copy;
        span(ng-bind="app.year")
        span  -
        span(ng-bind="app.name")
        br
        span(ng-bind="app.description")
