md-dialog(aria-label='Nowa definicja SMS', ng-cloak='', flex="60")
    md-toolbar
      .md-toolbar-tools
        h2 Edycja definicji SMS
        span(flex='')
        md-button.md-icon-button(ng-click='editSmsDialogController.cancel()')
          md-icon(md-svg-src='img/icons/ic_close_white_24px.svg', aria-label='Zamknij okno')
    md-dialog-content(style='max-height:700px;')
        .md-dialog-content
          .container-lg
            form(name='editNewSmsForm')
              .card
                .card-heading
                  .card-title Informacje odtyczące SMS
                .card-body.bg-inverse
                  .row
                    .col-sm-4
                      .mda-form-group
                        input.mda-form-control.mda-form-light(ng-model='editSmsDialogController.data.la_number', name='la_number', required='', type='number')
                        label Numer specjalny*
                        div(ng-messages='editNewSmsForm.la_number.$error', ng-if="editNewSmsForm.la_number.$touched", multiple='')
                          div(ng-message='required')
                            | Numer SMS jest wymagany
                          div(ng-message='number')
                            | W to wpole możesz wpisać tylko liczby
                    .col-sm-4
                      .mda-form-group
                        input.mda-form-control.mda-form-light(ng-model='editSmsDialogController.data.command', name='command', required='')
                        label Treść SMS*
                        div(ng-messages='editNewSmsForm.command.$error', ng-if="editNewSmsForm.command.$touched", multiple='')
                          div(ng-message='required')
                            | Treść SMS jest bardzo ważna, musisz ją uzupełnić
                    .col-sm-4
                      .mda-form-group
                        input.mda-form-control.mda-form-light(ng-model='editSmsDialogController.data.brokerage', name='brokerage', type="number", required='', min="1", step="1", max="99")
                        label Prowizja operatora w procentach* 
                        div(ng-messages='editNewSmsForm.brokerage.$error', ng-if="editNewSmsForm.brokerage.$touched", multiple='')
                          div(ng-message='required') Procentowa prowizja operatora jest wymagana
                          div(ng-message='min') Wartość nie może być mniejsza niż 1
                          div(ng-message='max') Wartość nie może być większa niż 99
                .card-body
                  .row      
                    .col-sm-6
                      md-input-container(flex='')
                        label Kraj*
                        md-select(ng-model='editSmsDialogController.data.country', md-on-open='getCountriesFromServer()', name='country', required='')
                          md-option(ng-repeat='country in editSmsDialogController.countries', value='{{country.code}}')
                            | {{country.name}} ({{country.code}})
                        div(ng-messages='editNewSmsForm.country.$error', ng-if="editNewSmsForm.country.$touched", multiple='')
                          div(ng-message='required')
                            | Wybierz kraj w którym SMS będzie dostępny
                    .col-sm-6
                      md-input-container(flex='')
                        label Waluta*
                        md-select(ng-model='editSmsDialogController.data.currency', md-on-open='getCurrenciesFromServer()', name='currency', required='')
                          md-option(ng-repeat='currency in editSmsDialogController.currencies', value='{{currency.code}}')
                            | {{currency.name}} ({{currency.code}})
                        div(ng-messages='editNewSmsForm.currency.$error', ng-if="editNewSmsForm.currency.$touched", multiple='')
                          div(ng-message='required')
                            | Wybierz walutę dla stawki netto i brutto
                  .row
                    .col-sm-6
                      md-input-container
                        label Wartość netto*
                        input(type="number" min='0.01' max='813.00' ng-model='editSmsDialogController.data.net_price', name='net_price', required)
                        div(ng-messages='editNewSmsForm.net_price.$error', ng-if="editNewSmsForm.net_price.$touched", multiple='')
                          div(ng-message='required')
                            | Wybierz wartość netto
                          div(ng-message='min')
                            | Wartość jest za mała
                          div(ng-message='max')
                            | Wartość jest za duża

                    .col-sm-6
                        md-input-container
                          label Wartość brutto*
                          input(name='gross_price', ng-model='editSmsDialogController.data.gross_price', required, placeholder='Podaj wartość brutto', type='number', min='0.01', max='999.99')
                          div(ng-messages='editNewSmsForm.gross_price.$error', ng-if="editNewSmsForm.gross_price.$touched", multiple='')
                            div(ng-message='required')
                              | Wartość brutto dla SMS jest wymagana
                            div(ng-message='min')
                              | Wartość jest za mała
                            div(ng-message='max')
                              | Wartość jest za duża
                    .row
                      .col-sm-12.sms-enabled-switch
                          md-switch(ng-model="editSmsDialogController.data.enabled" aria-label="Włączony") 
                            span(ng-if='!editSmsDialogController.data.enabled') Definicja sms zostanie dodana do bazy jako nieaktywna(niewidoczna dla klientów)
                            span(ng-if='editSmsDialogController.data.enabled') Definicja sms zostanie dodana do bazy jako aktywna(widoczna dla klientów)

              .card
                .card-heading
                  .card-title Operatorzy sieci komórkowych
                .card-body
                  div(layout="column" style="overflow-x: auto")

                    md-content.md-padding.autocomplete(layout='column')
                      md-contact-chips(ng-model='editSmsDialogController.data.operators', md-contacts='querySearch($query)', md-contact-name='name', md-require-match='true', md-highlight-flags='i', filter-selected='editSmsDialogController.filterSelected', placeholder='Nazwa operatora')
                      md-list.fixedRows
                        md-subheader.md-no-sticky Dostępni operatorzy systemowi:
                          p
                            br
                            span(ng-repeat="operator in editSmsDialogController.operators")
                              {{operator.name}}, 

              .card
                .card-heading
                  .card-title Dane dostępowe
                .card-body
                  .mda-form-group.mb.mda-input-group
                    input.mda-form-control(type='text', ng-model='editSmsDialogController.data.service_id')
                    label Identyfikator serwisu u dostawcy
                    span.mda-input-group-addon
                      em.fa.fa-ticket.fa-lg
                  .mda-form-group.mb.mda-input-group
                    input.mda-form-control(type='text', ng-model='editSmsDialogController.data.token')
                    label Token dostępowy
                    span.mda-input-group-addon
                      em.fa.fa-key.fa-lg

    .md-actions(layout='row')
      span(flex='')
      md-button.md-primary(ng-disabled='editNewSmsForm.$invalid', ng-click="editSmsDialogController.editRequest()")
        | Zmień dane
      md-button(ng-click="editSmsDialogController.cancel()", style='margin-right:20px;')
        | Zamknij okno

