h3
  | Prowizja ze sprzedaży
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START row
.row
  .col-md-12
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Wartość prowizji w procentach
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Wartość prowizji w procentach
                .col-sm-4
                  input.form-control(type='number', min="0", max="99", placeholder="Podaj wartość prowizji", name='commission', required='', ng-model="commissionPageController.data.sale_commission")
                  span.text-danger(ng-show="form.commission.$error.required && form.commission.$touched") Podaj wartość prowizji ze sprzedaży
                  span.text-danger(ng-show="form.commission.$error.min && form.commission.$touched") Wartość nie może być mniejsza niż 0
                  span.text-danger(ng-show="form.commission.$error.max && form.commission.$touched") Wartość nie może być większa niż 99
            fieldset
              .form-group
                .col-sm-12
                  div
                    rzslider(rz-slider-model="commissionPageController.data.sale_commission", rz-slider-options="{floor: 0, ceil: 99}")


        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="commissionPageController.saveCommission()") Zapisz prowizję


    div.alert.alert-info.text-center
      | Ilość kryptowaluty jaką otrzyma klient jest uzależniona od wysokości prowizji dostawcy(to można zmienić podczas definiowania SMS) jak i prowizji systemu.