h3
  | Ustawienia powiadomień
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START row
.row
  .col-md-12
    form.form-horizontal(name='notificationsStatusForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Ustawienia powiadomień
        .panel-body
            fieldset
              .form-group
                md-switch(md-no-ink="" aria-label="Switch No Ink" class="md-primary" ng-model="notificationsPageController.notification_status.walletAllertNotifications")
                  | Status wysyłania powiadomień: <b>{{notificationsPageController.notification_status.walletAllertNotifications | walletAllertStatus}}</b>
        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="notificationsPageController.saveNotificationsSettingsAction()") Zapisz ustawienia powiadomień

// START row
.row
  .col-md-12
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Adresy e-mailowe
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Adres e-mail do kontaktu
                .col-sm-6
                  input.form-control(type='email', placeholder="Adres e-mail", name='contact_email', required='', ng-model="notificationsPageController.emails.contact_email")
                  span.text-danger(ng-show="form.contact_email.$error.required && form.contact_email.$touched") Adres e-mail jest wymagany
                  span.text-danger(ng-show="form.contact_email.$error.email && form.contact_email.$touched") Adres e-mail ma nieprawidłowy format
                .col-sm-4
                  small.text-muted Na ten adres będą wysyłane wszystkie maile z formularza kontaktowego na stronie publicznej
            fieldset
              .form-group
                label.col-sm-2.control-label Adres e-mail do powiadomień
                .col-sm-6
                  input.form-control(type='email', placeholder="klucz prywatny do API", name='notifications_email', required='', ng-model="notificationsPageController.emails.notifications_email")
                  span.text-danger(ng-show="form.notifications_email.$error.required && form.notifications_email.$touched") Adres e-mail jest wymagany
                  span.text-danger(ng-show="form.notifications_email.$error.email && form.notifications_email.$touched") Adres e-mail ma nieprawidłowy format
                .col-sm-4
                  small.text-muted Na ten adres będą wysyłane wszystkie powiadomienia systemowe odnośnie braku środków itp.
        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="notificationsPageController.saveEmailsSettingsAction()") Zapisz ustawienia


// START row
.row
  .col-md-12
    form.form-horizontal(name='walletForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Ustawienia portfeli
        .panel-body
            fieldset
              .form-group
                label.col-sm-2.control-label Ilość BTC dla pełnego portfela
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.1",placeholder="Ilość BTC", name='btcWalletFullValue', required='', ng-model="notificationsPageController.wallet.btcWalletFullValue")
                  span.text-danger(ng-show="walletForm.btcWalletFullValue.$error.required && walletForm.btcWalletFullValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.btcWalletFullValue.$error.min && walletForm.btcWalletFullValue.$touched") Minimalna wartość to 0.1
                .col-sm-6
                  small.text-muted Wartość, którą system będzie traktował jako 100% naładowania portfela
            fieldset
              .form-group
                label.col-sm-2.control-label Ilość LSK dla pełnego portfela
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.1",placeholder="Ilość LSK", name='lskWalletFullValue', required='', ng-model="notificationsPageController.wallet.lskWalletFullValue")
                  span.text-danger(ng-show="walletForm.lskWalletFullValue.$error.required && walletForm.lskWalletFullValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.lskWalletFullValue.$error.min && walletForm.lskWalletFullValue.$touched") Minimalna wartość to 0.1
                .col-sm-6
                  small.text-muted Wartość, którą system będzie traktował jako 100% naładowania portfela
            fieldset
              .form-group
                label.col-sm-2.control-label Ilość LTC dla pełnego portfela
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.1",placeholder="Ilość LTC", name='ltcWalletFullValue', required='', ng-model="notificationsPageController.wallet.ltcWalletFullValue")
                  span.text-danger(ng-show="walletForm.ltcWalletFullValue.$error.required && walletForm.ltcWalletFullValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.ltcWalletFullValue.$error.min && walletForm.ltcWalletFullValue.$touched") Minimalna wartość to 0.1

                .col-sm-6
                  small.text-muted Wartość, którą system będzie traktował jako 100% naładowania portfela
            fieldset
              .form-group
                label.col-sm-2.control-label Ilość ETH dla pełnego portfela
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.1",placeholder="Ilość ETH", name='ethWalletFullValue', required='', ng-model="notificationsPageController.wallet.ethWalletFullValue")
                  span.text-danger(ng-show="walletForm.ethWalletFullValue.$error.required && walletForm.ethWalletFullValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.ethWalletFullValue.$error.min && walletForm.ethWalletFullValue.$touched") Minimalna wartość to 0.1
                .col-sm-6
                  small.text-muted Wartość, którą system będzie traktował jako 100% naładowania portfela

            fieldset
              .form-group
                label.col-sm-2.control-label Alarmowa ilość BTC
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.001", max="{{notificationsPageController.wallet.btcWalletFullValue}}", placeholder="Ilość BTC", name='btcWalletAlertValue', required='', ng-model="notificationsPageController.wallet.btcWalletAlertValue")
                  span.text-danger(ng-show="walletForm.btcWalletAlertValue.$error.required && walletForm.btcWalletAlertValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.btcWalletAlertValue.$error.min && walletForm.btcWalletAlertValue.$touched") Minimalna wartość to 0.001
                  span.text-danger(ng-show="walletForm.btcWalletAlertValue.$error.max && walletForm.btcWalletAlertValue.$touched") Wartość nie może być wyższa od poziomu 100%!

                .col-sm-6
                  small.text-muted Jeżeli wartość portfela spadnie poniżej tej wartości, właściciel aplikacji dostanie powiadomienie mailowe
            fieldset
              .form-group
                label.col-sm-2.control-label Alarmowa ilość LSK
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.001", max="{{notificationsPageController.wallet.lskWalletFullValue}}", placeholder="Ilość LSK", name='lskWalletAlertValue', required='', ng-model="notificationsPageController.wallet.lskWalletAlertValue")
                  span.text-danger(ng-show="walletForm.lskWalletAlertValue.$error.required && walletForm.lskWalletAlertValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.lskWalletAlertValue.$error.min && walletForm.lskWalletAlertValue.$touched") Minimalna wartość to 0.001
                  span.text-danger(ng-show="walletForm.lskWalletAlertValue.$error.max && walletForm.lskWalletAlertValue.$touched") Wartość nie może być wyższa od poziomu 100%!
                .col-sm-6
                  small.text-muted Jeżeli wartość portfela spadnie poniżej tej wartości, właściciel aplikacji dostanie powiadomienie mailowe
            fieldset
              .form-group
                label.col-sm-2.control-label Alarmowa ilośćLTC
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.001", max="{{notificationsPageController.wallet.ltcWalletFullValue}}", placeholder="Ilość LTC", name='ltcWalletAlertValue', required='', ng-model="notificationsPageController.wallet.ltcWalletAlertValue")
                  span.text-danger(ng-show="walletForm.ltcWalletAlertValue.$error.required && walletForm.ltcWalletAlertValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.ltcWalletAlertValue.$error.min && walletForm.ltcWalletAlertValue.$touched") Minimalna wartość to 0.001
                  span.text-danger(ng-show="walletForm.ltcWalletAlertValue.$error.max && walletForm.ltcWalletAlertValue.$touched") Wartość nie może być wyższa od poziomu 100%!
                .col-sm-6
                  small.text-muted Jeżeli wartość portfela spadnie poniżej tej wartości, właściciel aplikacji dostanie powiadomienie mailowe
            fieldset
              .form-group
                label.col-sm-2.control-label Alarmowa ilość ETH
                .col-sm-4
                  input.form-control(type='number', step="0.01", min="0.001" max="{{notificationsPageController.wallet.ethWalletFullValue}}", placeholder="Ilość ETH", name='ethWalletAlertValue', required='', ng-model="notificationsPageController.wallet.ethWalletAlertValue")
                  span.text-danger(ng-show="walletForm.ethWalletAlertValue.$error.required && walletForm.ethWalletAlertValue.$touched") Wartość jest wymagana
                  span.text-danger(ng-show="walletForm.ethWalletAlertValue.$error.min && walletForm.ethWalletAlertValue.$touched") Minimalna wartość to 0.001
                  span.text-danger(ng-show="walletForm.ethWalletAlertValue.$error.max && walletForm.ethWalletAlertValue.$touched") Wartość nie może być wyższa od poziomu 100%!
                .col-sm-6
                  small.text-muted Jeżeli wartość portfela spadnie poniżej tej wartości, właściciel aplikacji dostanie powiadomienie mailowe

        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="walletForm.$invalid" ng-click="notificationsPageController.saveWalletSettingsAction()") Zapisz ustawienia
