h3
  | Kolejka wypłat
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START row
.row
  .col-md-12
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Status kolejki wypłat
        .panel-body
            fieldset
              .form-group
                md-switch(md-no-ink="" aria-label="Switch No Ink" class="md-primary" ng-model="paymentQueuePageController.queueStatus")
                  | Status kolejki wypłat: <b>{{paymentQueuePageController.queueStatus | paymentQueueStatus}}</b>


        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="paymentQueuePageController.saveQueueStatus()") Zapisz ustawienia


    div.alert.alert-info.text-center
      | Kiedy wypłaty są nieaktywne klienci nadal mogą kupować kryptowalutę za SMS, nie zostanie jednak uruchomiony proces wypłaty, przez co klient nie otrzyma natychmiast przelewu. 
      | Zlecenie zapłaty zostaje umieszczone w kolejce wypłat ze statusem "niezapłacone". Dopiero po uruchomieniu kolejki wypłat zostaną wykonane zaległe płatności.