h3
  | Profil użytkownika
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START row
.row
  .col-md-4
    form.form-horizontal(name='userDataForm' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Dane osobowe
        .panel-body
          fieldset
          .form-group
            label.col-sm-3.control-label Login
            .col-sm-7
              input.form-control(type='text', placeholder="Podaj dotychczasowe hasło", name='login', disabled='', required, ng-model="currentUserProfilePageController.userData.email")
          fieldset
          .form-group
            label.col-sm-3.control-label Imię
            .col-sm-7
              input.form-control(type='text', placeholder="Podaj dotychczasowe hasło", name='first_name', required, ng-model="currentUserProfilePageController.userData.first_name")
              span.text-danger(ng-show="userDataForm.old_password.$error.required && userDataForm.old_password.$touched") Podaj dotychczasowe hasło
          fieldset
          .form-group
            label.col-sm-3.control-label Nazwisko
            .col-sm-7
              input.form-control(type='text', placeholder="Podaj dotychczasowe hasło", name='last_name', required, ng-model="currentUserProfilePageController.userData.last_name")
              span.text-danger(ng-show="userDataForm.password.$error.required && userDataForm.password.$touched") Podaj dotychczasowe hasło

        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="userDataForm.$invalid" ng-click="currentUserProfilePageController.changeUserData()") Zmień dane osobowe

  .col-md-8
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Zmiana hasła
        .panel-body
          fieldset
          .form-group
            label.col-sm-5.control-label Dotychczasowe hasło
            .col-sm-4
              input.form-control(type='password', placeholder="Podaj dotychczasowe hasło", name='old_password', required, ng-model="currentUserProfilePageController.passwordData.old_password")
              span.text-danger(ng-show="form.old_password.$error.required && form.old_password.$touched") Podaj dotychczasowe hasło
          fieldset
          .form-group
            label.col-sm-5.control-label Nowe hasło
            .col-sm-4
              input.form-control(type='password', placeholder="Podaj dotychczasowe hasło", name='password', required, ng-model="currentUserProfilePageController.passwordData.password")
              span.text-danger(ng-show="form.password.$error.required && form.password.$touched") Podaj dotychczasowe hasło
          fieldset
          .form-group
            label.col-sm-5.control-label Powtórz hasło
            .col-sm-4
              input.form-control(type='password', placeholder="Podaj dotychczasowe hasło", name='repeated_password', required, match="currentUserProfilePageController.passwordData.password", ng-model="currentUserProfilePageController.passwordData.repeated_password")
              span.text-danger(ng-show="form.repeated_password.$error.required && form.repeated_password.$touched") Podaj dotychczasowe hasło
              span.text-danger(ng-show="form.repeated_password.$error.match && form.repeated_password.$touched") Hasła do siebie nie pasują

        .panel-footer.text-center
          button.btn.btn-info(ng-disabled="form.$invalid" ng-click="currentUserProfilePageController.changePassword()") Zmień swoje hasło





