h3
  | Ustawienia użytkowników
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START row
.row
  .col-md-12
    form.form-horizontal(name='form' novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Lista użytkowników
        .panel-body
          .mda-list
            .mda-list-item(ng-repeat="user in usersPageController.users")
              img.mda-list-item-img(src='adminPanelApp/img/user/default.jpg', alt='Avatar')
              .mda-list-item-text
                h3
                  a(href='#') {{user.first_name}} {{user.last_name}}
                h4 {{user.email}}
                p Identyfikator w systemie: {{ user.id }}

