.addSmsDialog {
    .chipsdemoContactChips md-content.autocomplete {
        min-height: 250px;
    }
    .chipsdemoContactChips .md-item-text.compact {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .chipsdemoContactChips .contact-item {
        box-sizing: border-box;
    }
    .chipsdemoContactChips .contact-item.selected {
        opacity: 0.5;
    }
    .chipsdemoContactChips .contact-item.selected h3 {
        opacity: 0.5;
    }
    .chipsdemoContactChips .contact-item .md-list-item-text {
        padding: 14px 0;
    }
    .chipsdemoContactChips .contact-item .md-list-item-text h3 {
        margin: 0 !important;
        padding: 0;
        line-height: 1.2em !important;
    }
    .chipsdemoContactChips .contact-item .md-list-item-text h3,
    .chipsdemoContactChips .contact-item .md-list-item-text p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    @media (min-width: 900px) {
        .chipsdemoContactChips .contact-item {
            float: left;
            width: 33%;
        }
    }
    .chipsdemoContactChips md-contact-chips {
        margin-bottom: 10px;
    }
    .chipsdemoContactChips .md-chips {
        padding: 5px 0 8px;
    }
    .chipsdemoContactChips .fixedRows {
        height: 250px;
        overflow: hidden;
    }
}
