// START Off Sidebar (right)
nav
  uib-tabset(justified="true")
    uib-tab
      uib-tab-heading
        em.icon-equalizer.fa-lg
      div(ng-include="'adminPanelApp/views/partials/settings.html'")

// END Off Sidebar (right)