h3.text-center.text-thin(translate="offsidebar.setting.SETTINGS") Settings

.p
  h4.text-muted.text-thin(translate="offsidebar.setting.THEMES") Themes

  .table-grid.mb
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-a.css')
          span.icon-check
          span.split
            span.color.bg-info
            span.color.bg-info
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-b.css')
          span.icon-check
          span.split
            span.color.bg-primary
            span.color.bg-primary
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-c.css')
          span.icon-check
          span.split
            span.color.bg-purple
            span.color.bg-purple
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-d.css')
          span.icon-check
          span.split
            span.color.bg-success
            span.color.bg-success
          span.color.bg-white
  .table-grid.mb
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-e.css')
          span.icon-check
          span.split
            span.color.bg-cyan-500
            span.color.bg-cyan-500
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-f.css')
          span.icon-check
          span.split
            span.color.bg-pink-500
            span.color.bg-pink-500
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-g.css')
          span.icon-check
          span.split
            span.color.bg-blue-grey-500
            span.color.bg-blue-grey-500
          span.color.bg-white
    .col.mb
      .setting-color
        label
          input(type="radio", name="setting-theme", ng-model="app.layout.theme", value='adminPanelApp/css/theme-h.css')
          span.icon-check
          span.split
            span.color.bg-blue-grey-900
            span.color.bg-blue-grey-900
          span.color.bg-white

.p
  h4.text-muted.text-thin Tryb wyświetlania

  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.FIXED") Fixed
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.isFixed")
        span
  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.BOXED")  Boxed
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.isBoxed")
        span
  //- .clearfix
  //-   p.pull-left RTL
  //-   .pull-right
  //-     label.switch
  //-       input(type='checkbox', ng-model="app.layout.isRTL")
  //-       span
.p(ng-if="!app.layout.horizontal")
  h4.text-muted.text-thin(translate="offsidebar.setting.layout.ASIDE")
  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.COLLAPSED") Collapsed
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.isCollapsed")
        span
  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.FLOAT") Float
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.isFloat")
        span
  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.HOVER") Hover
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.asideHover")
        span
  .clearfix
    p.pull-left(translate="offsidebar.setting.layout.SHOW_SCROLLBAR") Show Scrollbar
    .pull-right
      label.switch
        input(type='checkbox', ng-model="app.layout.asideScrollbar")
        span

.p
  h4.text-muted.text-thin Animacje przejścia
  select.form-control(ng-model="app.viewAnimation")
    option(value="ng-fadeInUp", selected="selected") fadeInUp
    option(value="ng-fadeInDown") fadeInDown
    option(value="ng-fadeInRight") fadeInRight
    option(value="ng-fadeInLeft") fadeInLeft
    option(value="ng-fadeInUpBig") fadeInUpBig
    option(value="ng-fadeInDownBig") fadeInDownBig
    option(value="ng-fadeInRightBig") fadeInRightBig
    option(value="ng-fadeInLeftBig") fadeInLeftBig
    option(value="ng-fadeIn") fadeIn
