<form name="firstPartForm" form-step-validity>
    <div layout="row" id="order-form-part-one" ng-theme="publicForm" class="animated fadeIn">
        <div layout="column" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50"
                                    flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30"
                                    flex-offset-xl="35">
                    <label>{{ ::'MULTI_STEPS_FORM_COUNTRY' | translate }}</label>
                    <md-select name="country" ng-model="multiStepsFormController.data.country"
                               md-on-open="multiStepsFormController.loadCountries()" required>
                        <md-option ng-repeat="country in multiStepsFormController.countries" value="{{country.id}}">
                            {{::country.name | translate}}
                        </md-option>
                    </md-select>
                    <div class="errors" ng-messages="firstPartForm.country.$error">
                        <div ng-message="required">{{ ::'MULTI_STEPS_FORM_COUNTRY_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50"
                                    flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30"
                                    flex-offset-xl="35">
                    <label>{{ ::'MULTI_STEPS_FORM_OPERATOR' | translate }}</label>
                    <md-select name="operator" ng-model="multiStepsFormController.data.operator"
                               ng-disabled="multiStepsFormController.data.country == null"
                               md-on-open="multiStepsFormController.loadOperators()" required>
                        <md-option ng-repeat="opearator in multiStepsFormController.operators" value="{{opearator.id}}">
                            {{::opearator.name}}
                        </md-option>
                    </md-select>
                    <div class="errors" ng-messages="firstPartForm.operator.$error">
                        <div ng-message="required">{{ ::'MULTI_STEPS_FORM_OPERATOR_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50"
                                    flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30"
                                    flex-offset-xl="35">
                    <label>{{ ::'MULTI_STEPS_FORM_CURRENCY_TYPE' | translate }}</label>
                    <md-select name="cryptocurrency" ng-model="multiStepsFormController.data.cryptocurrency"
                               md-on-open="multiStepsFormController.loadCryptocurrencies()" required>
                        <md-option ng-repeat="cryptocurrency in multiStepsFormController.cryptocurrencies"
                                   value="{{cryptocurrency.code}}">{{cryptocurrency.code}} - {{cryptocurrency.name}}
                        </md-option>
                    </md-select>
                    <div class="errors" ng-messages="firstPartForm.cryptocurrency.$error">
                        <div ng-message="required">{{ ::'MULTI_STEPS_FORM_CURRENCY_TYPE_REQUIRED' | translate }}</div>
                    </div>
                </md-input-container>
            </div>
            <!--<div layout="row hidden">-->
            <!--<md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">-->
            <!--<label>{{ ::'MULTI_STEPS_FORM_PHONE_NUMBER' | translate }}</label>-->
            <!--<input name="phone" ng-model="multiStepsFormController.data.phone" required pattern="[0-9]*">-->
            <!--<div ng-messages="firstPartForm.phone.$error">-->
            <!--<div ng-message="required">{{ ::'MULTI_STEPS_FORM_PHONE_NUMBER_REQUIRED' | translate }}</div>-->
            <!--<div ng-message="pattern">{{ ::'MULTI_STEPS_FORM_PHONE_NUMBER_BAD_PATTERN' | translate }}</div>-->
            <!--</div>-->
            <!--</md-input-container>-->
            <!--</div>-->
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50"
                                    flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30"
                                    flex-offset-xl="35">
                    <md-checkbox name="rules" ng-model="multiStepsFormController.data.rules" required>{{
                        ::'MULTI_STEPS_FORM_DECLARATION_PART1' | translate }} <a
                                href="/files/{{multiStepsFormController.language}}/rules.pdf" target="_blank">{{::'MULTI_STEPS_FORM_DECLARATION_RULES'
                            | translate}}</a> {{::'MULTI_STEPS_FORM_DECLARATION_PART2' | translate}}
                    </md-checkbox>
                </md-input-container>
            </div>
            <div layout="row text-center">

                    <div vc-recaptcha theme="multiStepsFormController.reCaptchaTheme" style="margin: 0 auto;"
                         size="multiStepsFormController.reCaptchaSize" key="multiStepsFormController.reCaptchaKey"
                         type="multiStepsFormController.reCaptchaType"
                         on-create="multiStepsFormController.setWidgetId(widgetId)"
                         on-success="multiStepsFormController.setResponse(response)"
                         on-expire="multiStepsFormController.cbExpiration()" id="multi-step-recaptcha"></div>
            </div>
        </div>
    </div>
</form>
