<form name="secondStepForm" form-step-validity>
    <div layout="row" id="order-form-part-one" ng-theme="publicForm" class="animated fadeIn">
        <div layout="column" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">
                    <label>{{::'MULTI_STEPS_FORM_PRICE_PER_SMS' | translate}}</label>
                    <md-select name="sms_price" ng-model="multiStepsFormController.data.sms" md-on-open="multiStepsFormController.loadTextMessages()" required>
                        <md-option ng-repeat="sms in multiStepsFormController.sms" value="{{sms.id}}">{{::sms.gross_price}} {{::sms.currency}}</md-option>
                    </md-select>
                    <div class="errors" ng-messages="secondStepForm.sms_price.$error">
                        <div ng-message="required">{{::'MULTI_STEPS_FORM_PRICE_PER_SMS_REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">
                    <label>{{::'MULTI_STEPS_FORM_WALLET_ADDRESS' | translate}}</label>
                    <input name="wallet" ng-model="multiStepsFormController.data.wallet" required>
                    <div ng-messages="secondStepForm.wallet.$error">
                        <div ng-message="required">{{::'MULTI_STEPS_FORM_WALLET_ADDRESS_REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <!--<div layout="row">-->
                <!--<md-input-container flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">-->
                    <!--<label>{{::'MULTI_STEPS_FORM_EMAIL_ADDRESS' | translate}}</label>-->
                    <!--<input name="email" type="email" ng-model="multiStepsFormController.data.email">-->
                    <!--<div ng-messages="secondStepForm.email.$error">-->
                        <!--<div ng-message="email">{{::'MULTI_STEPS_FORM_EMAIL_ADDRESS_BAD_FORMAT' | translate}}</div>-->
                    <!--</div>-->
                <!--</md-input-container>-->
            <!--</div>-->
            <div layout="row">
                <div class="payment-information" flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">
                    <div class="payment-content" ng-if="multiStepsFormController.smsInfoProcessing == false">
                        <p class="animated fadeIn">
                            <div ng-if="!multiStepsFormController.smsInfoHasError">
                                {{::'MULTI_STEPS_FORM_SEND_TEXT_MESSAGE_TO_THE_NUMBER' | translate}}
                                <br />
                                <strong class="number">{{multiStepsFormController.paymentInfo.sms.number}}</strong>
                                <br /> {{::'MULTI_STEPS_FORM_WITH_CONTENT' | translate}}
                                <br />
                                <strong class="command">{{multiStepsFormController.paymentInfo.sms.command}}</strong>
                                <br /> {{::'MULTI_STEPS_FORM_YOU_RECEIVE_MORE_OR_LESS' | translate}}
                                <strong>{{multiStepsFormController.paymentInfo.cryptocurrency.value | currency:'':6}} {{multiStepsFormController.paymentInfo.cryptocurrency.code}}</strong> {{::'MULTI_STEPS_FORM_TO_YOUR_ACCOUNT' | translate}}.
                                <br /> {{::'MULTI_STEPS_FORM_SMS_EXPLANATION' | translate}}
                                <br />
                                <br />
                                <small class="provider-info">
                                    {{::'MULTI_STEPS_FORM_SERVICE_PROVIDER_IS' | translate}} {{multiStepsFormController.paymentInfo.provider.name}}. {{::'MULTI_STEPS_FORM_SERVED_OPERATORS' | translate}}: <br />
                                    <span ng-repeat="operator in multiStepsFormController.paymentInfo.sms.operators">{{operator}}&emsp;</span> 
                                    <br />
                                    <p ng-show="multiStepsFormController.paymentInfo.provider.complaint_form_url">
                                        <a href="{{multiStepsFormController.paymentInfo.provider.complaint_form_url}}">{{::'MULTI_STEPS_FORM_COMPLAINT_FORM' | translate}} {{multiStepsFormController.paymentInfo.provider.name}}</a> 
                                    </p>
                                    <p ng-show="multiStepsFormController.paymentInfo.provider.rules_url">
                                        <a href="{{multiStepsFormController.paymentInfo.provider.rules_url}}">{{::'MULTI_STEPS_FORM_SERVICE_REGULATIONS' | translate}} {{multiStepsFormController.paymentInfo.provider.name}}</a>
                                    </p>
                                </small>
                            </div>
                            <div ng-if="multiStepsFormController.smsInfoHasError">
                                {{::'MULTI_STEPS_FORM_CRYPTOCURRENCY_VALUE_TOO_SMALL' | translate}}
                            </div>
                        </p>
                    </div>
                    <div class="spinner" ng-if="multiStepsFormController.smsInfoProcessing == true">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
