<div layout="row" id="order-form-part-one" ng-theme="publicForm" class="animated fadeIn">
    <div layout="coulumn" flex="80" flex-offset="10" class=" animated fadeIn" ng-show="multiStepsFormController.transactionSuccesed == true">
        <div layout="row" layout-align="center-center" class="success_message" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <p>
                {{::'MULTI_STEPS_FORM_CODE_IS_VALID_MESSAGE' | translate}}:
                <br />
                <br /> <b>{{multiStepsFormController.transaction.id}}</b>
                <br />
                <br /> {{::'MULTI_STEPS_FORM_SAVE_ID_MESSAGE' | translate}}
            </p>
        </div>
    </div>
    <div layout="column" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" ng-hide="multiStepsFormController.transactionSuccesed == true">
        <div layout="row">
            <div class="payment-information" flex-xs="80" flex-offset-xs="10" flex-sm="80" flex-offset-sm="10" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35">
                <div class="sms-code-input-container" ng-show="true">
                    {{::'MULTI_STEPS_FORM_ENTER_ONE_TIME_CODE' | translate}}
                    <br />
                    <input class="sms-code-input" type="text" value="" ng-model="multiStepsFormController.smsCode" required/>
                    <br />
                    <md-button class="md-raised md-cornered" ng-show="multiStepsFormController.smsCode" ng-click="multiStepsFormController.checkCode()">{{::'MULTI_STEPS_FORM_CHECK_CODE' | translate}}</md-button>
                </div>
                <div class="spinner" ng-show="false">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
