
// START row
.row
  .col-md-12
    // START panel
    .panel.panel-default
      .panel-heading
        .panel-title Lista zdefiniowanych wiadomości SMS
            .pull-right 
                button.btn.btn-info(ng-click="providerSmsListController.openAddSmsDialog()") Dodaj nową definicję SMS
        .panel-body.text-center(ng-hide='providerSmsListController.sms.length')
            h2 Brak zdefiniowanych wiadomości SMS
            span Możesz dodać nową definicję klikając na przycisk "Dodaj nową definicję SMS"
        br
        br
        .sms_table
            .table-responsive(ng-show='providerSmsListController.sms.length')
                table.table.table-striped.table-hover
                    thead
                        tr
                        th #ID
                        th Informacje
                        th Włączony
                    tbody
                        tr(ng-repeat="sms in providerSmsListController.sms")
                            td
                                | {{ sms.id }}
                            td
                                .media
                                    .media-body
                                    .pull-right.last_modification Ostatnia modyfikacja: {{sms.updated | date}}
                                    h4.media-heading Numer specjalny: {{sms.la_number}}
                                    h4.media-heading treść: {{sms.command}}
                                    p 
                                    | Cena za sms: {{ sms.net_price | currency:"":2 }} {{sms.currency}} ({{sms.gross_price | currency:"":2}} {{ sms.currency }})
                                    p 
                                    | Kraj: {{sms.country}}
                                    p
                                    | Operatorzy: 
                                    div.operators_list
                                        ul.list-inline
                                            li(ng-repeat='operator in sms.operators') {{operator.name}}
                                    p.pull-right
                                        button.btn.btn-success.btn-xs(type='button', ng-click="providerSmsListController.openEditSmsDialog(sms.id)") Edytuj serwis
                                        button.btn.btn-danger.btn-xs(type='button', ng-click="providerSmsListController.openDeleteConfirmationDialog(sms.id)") Usuń serwis
                            td.text-center
                                label.switch
                                    input(type='checkbox', ng-checked="sms.enabled == true" ng-click="providerSmsListController.changeSmsStatusRequest(sms.id)")
                                    span

      .panel-footer.text-center
        span.sms_instructions  Nieaktywne definicje nie będą wyświetlane klientowi. Można je rozumieć jako szkice definicji, które można uruchomić w dowolnym momencie.

