md-dialog.md-default-theme.md-transition-in(md-theme='default', aria-label='Dodawanie nowej waluty', ng-class='dialog.css', role='dialog')
  md-dialog-content#dialog_0.md-dialog-content(role='document', tabindex='-1')
    h2.md-title.ng-binding Dodaj nową walutę
    .md-dialog-content-body.ng-isolate-scope(md-template='::dialog.mdContent')

    form(name='newCurrencyForm')
      .col-sm-6
          md-input-container
            label Podaj nazwę waluty
            input(name='currency_name', ng-model='newCurrencyDialogController.data.name', required, placeholder='Nazwa waluty', type='text', pattern=".{3,15}")
            div(ng-messages='newCurrencyForm.currency_name.$error', ng-if="newCurrencyForm.currency_name.$touched", multiple='')
              div(ng-message='required')
                | Nazwa waluty jest wymagana
              div(ng-message='pattern')
                | Nazwa musi mieć od 3 do 15 znaków
      .col-sm-6
          md-input-container
            label Podaj skrót dla waluty
            input(name='currency_code', ng-model='newCurrencyDialogController.data.code', required, placeholder='Kod dla waluty', type='text', pattern=".{2,5}")
            div(ng-messages='newCurrencyForm.currency_code.$error', ng-if="newCurrencyForm.currency_code.$touched", multiple='')
              div(ng-message='required')
                | Skrót jest wymagany
              div(ng-message='pattern')
                | Skrót musi mieć od 2 do 5 znaków
  .md-actions
    // ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.ng-scope.md-default-theme.md-ink-ripple(ng-click='newCurrencyDialogController.cancel()')
      span.ng-binding.ng-scope Anuluj
    // end ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.md-default-theme.md-ink-ripple(ng-click='newCurrencyDialogController.add()', ng-disabled='newCurrencyForm.$invalid')
      span.ng-binding.ng-scope Dodaj walutę
