md-dialog.md-default-theme.md-transition-in(md-theme='default', aria-label='Dodawanie nowego operatora', ng-class='dialog.css', role='dialog')
  md-dialog-content#dialog_0.md-dialog-content(role='document', tabindex='-1')
    h2.md-title.ng-binding Edycja waluty
    .md-dialog-content-body.ng-isolate-scope(md-template='::dialog.mdContent')

    form(name='editCurrencyForm')
      .col-sm-12
          md-input-container
            label Nazwa waluty
            input(name='operator_name', ng-model='editCurrencyDialogController.data.name', required, placeholder='Nazwa operatora', type='text', pattern=".{3,15}")
            div(ng-messages='editCurrencyForm.operator_name.$error', ng-if="editCurrencyForm.operator_name.$touched", multiple='')
              div(ng-message='required')
                | Nazwa waluty jest wymagana
              div(ng-message='pattern')
                | Nazwa musi mieć od 3 do 15 znaków

      .col-sm-12
          md-input-container
            label Skrót waluty
            input(name='currency_code', ng-model='editCurrencyDialogController.data.code', required, placeholder='Skrót waluty', type='text', pattern=".{2,5}")
            div(ng-messages='editCurrencyForm.currency_code.$error', ng-if="editCurrencyForm.currency_code.$touched", multiple='')
              div(ng-message='required')
                | Skrót waluty jest wymagany
              div(ng-message='pattern')
                | Skrót musi mieć od 2 do 5 znaków

  .md-actions
    // ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.ng-scope.md-default-theme.md-ink-ripple(ng-click='editCurrencyDialogController.cancel()')
      span.ng-binding.ng-scope Anuluj
    // end ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.md-default-theme.md-ink-ripple(ng-click='editCurrencyDialogController.edit()', ng-disabled='editCurrencyForm.$invalid')
      span.ng-binding.ng-scope Zmień nazwę
