// START panel tab
.panel.panel-transparent
  uib-tabset.bg-white.p0(justified="true")
    uib-tab
      uib-tab-heading
        em.fa.fa-clock-o.fa-fw
        | Ostatnio zdefiniowane płatności
      div
        .alert.alert-info(ng-if="!lastPaymentsPanelController.payments.length")
          em.fa.fa-exclamation-circle.fa-lg.fa-fw
          |  Brak płatności
        // START table responsive
        .table-responsive(ng-if="lastPaymentsPanelController.payments.length")
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th ID #
                th Data dodania
                th Kryptowaluta
                th Wartość
            tbody
              tr(ng-repeat="payment in lastPaymentsPanelController.payments")
                td 
                  a(ui-sref="app.payment_details({paymentId: payment.id})") \#{{payment.id}}
                td {{payment.created | date}}
                td {{payment.currency}}
                td {{payment.value}}
        // END list group
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(ui-sref='app.payments_list') Pokaż listę wszystkich wypłat
    uib-tab
      uib-tab-heading
        em.fa.fa-clock-o.fa-fw
        |  Ostatnie zakończone płatności
      div
        .alert.alert-info(ng-if="!lastPaymentsPanelController.paymentsCompleted.length")
          em.fa.fa-exclamation-circle.fa-lg.fa-fw
          |  Brak zakończonych płatności
        // START table responsive
        .table-responsive(ng-if="lastPaymentsPanelController.paymentsCompleted.length")
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th ID #
                th Data dodania
                th Kryptowaluta
                th Wartość
            tbody
              tr(ng-repeat="payment in lastPaymentsPanelController.paymentsCompleted")
                td 
                  a(ui-sref="app.payment_details({paymentId: payment.id})") \#{{payment.id}}
                td {{payment.created | date}}
                td {{payment.currency}}
                td {{payment.value}}
        // END table responsive
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(ui-sref='app.payments_list') Pokaż listę wszystkich wypłat
