<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="dotpay-header" layout-align="center center">
        <div class="md-headline subpage-header-title">Usługę Premium SMS obsługuje Eurokoncept, grupa Dotpay</div>
    </div>

    <div class="subpage-body">
        <dotpay-sms-panel></dotpay-sms-panel>
    </div>

</div>
