<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="subpage-header" layout-align="center center">
        <div class="md-headline subpage-header-title">{{::'ABOUT_US_PAGE_TITLE' | translate}}</div>
    </div>
    <div class="Landing-laravelAngular">
        <div layout="column" layout-gt-sm="row">
            <div flex="50" class="Landing-laravel" layout-align="center center">
                <about-us-google-map></about-us-google-map>
            </div>
            <div flex="50" class="about-us-right-side" layout-align="center center">
                <h2 class="md-display-2 page-title">Bitmobile sp. z o.o.</h2>
                <div class="md-title page-subtitle">
                    {{::'ABOUT_US_PAGE_CONTENT' | translate}}
                    <div class="company-details-section">
                        <address>
                            Bitmobile sp. z.o.o.
                            <br/> al. Aleja Księcia Józefa Poniatowskiego 1
                            <br/> 03-901 Warszawa
                            <br/> NIP: 1132913212
                            <br/> REGON: 364856029
                            <br/> KRS: 0000626250
                            <br/>
                        </address>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="subpage-body">
    </div>
</div>
