@import "../../../material/project";


.company-details-section {
  text-align: left;
  margin-top: 100px;
}

.about-us-right-side{
  background-color: $background;
  border-left: 1px solid $border;
}

.about-us-right-side {
  text-align: center;
  color: $navy;
  border-bottom: 1px solid $border;
}