h3
  | Statystyki odwiedzin strony głównej
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !


div.panel.panel-default
  div.panel-heading.text-center
    button.btn.btn-default.btn-lg(type="button" ng-click="analyticsPageController.goToGoogle()") Przejdź do Google Analytics
    button.btn.btn-default.btn-lg(type="button" ng-click="analyticsPageController.goToYandex()") Przejdź do Yandex Metrica


.alert.alert-info
    em.fa.fa-exclamation-circle.fa-lg.fa-fw
    | Statystyki i analityka strony publicznej obsługiwana jest przez Google Analytics i Yandex Metrica