<div></div>
<md-content class="Page-container" md-whiteframe="3" flex="100" flex-offset="0" flex-offset-gt-sm="20" flex-gt-sm="60">
    <div>
        <div class="send-message-container" layout="column" layout-align="center center">
            <form name="contactFormController.contactForm" novalidate="">
                <md-input-container class="contact-form-input-container">
                    <label>{{::'CONTACT_PAGE_FULLNAME' | translate}}</label>
                    <input type="text" name="fullname" md-no-asterisk ng-model="contactFormController.data.fullname" required="">
                    <div ng-messages="contactFormController.contactForm.fullname.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            {{::'CONTACT_PAGE_FULLNAME_IS_REQUIRED' | translate}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="contact-form-input-container" layout-align="center center">
                    <label>{{::'CONTACT_PAGE_YOUR_EMAIL' | translate}}</label>
                    <input type="email" name="email" ng-model="contactFormController.data.email" required="">
                    <div ng-messages="contactFormController.contactForm.email.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            {{::'CONTACT_PAGE_YOUR_EMAIL_IS_REQUIRED' | translate}}
                        </div>
                        <div ng-message="email">
                            {{::'CONTACT_PAGE_YOUR_EMAIL_IS_REQUIRED' | translate}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="contact-form-input-container" layout-align="center center">
                    <label>{{::'CONTACT_PAGE_MESSAGE_CONTENT' | translate}}</label>
                    <textarea ng-model="contactFormController.data.content" name="content" md-maxlength="2500" rows="25" md-select-on-focus required=""></textarea>
                    <div ng-messages="contactFormController.contactForm.content.$error" multiple md-auto-hide="true">
                        <div ng-message="required">
                            {{::'CONTACT_PAGE_MESSAGE_CONTENT_IS_REQUIRED' | translate}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="100" flex-offset-xs="0" flex-sm="100" flex-offset-sm="0" flex-md="50" flex-offset-md="25" flex-lg="30" flex-offset-lg="35" flex-xl="30" flex-offset-xl="35" class="public-form-recaptcha">
                    <div vc-recaptcha theme="contactFormController.reCaptchaTheme" size="contactFormController.reCaptchaSize" key="contactFormController.reCaptchaKey" type="contactFormController.reCaptchaType" on-create="contactFormController.setWidgetId(widgetId)" on-success="contactFormController.setResponse(response)" on-expire="contactFormController.cbExpiration()"></div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="RegisterForm-submit md-primary" ng-click="contactFormController.sendMessageAction()" flex="50" ng-disabled="contactFormController.contactForm.$invalid">{{::'CONTACT_PAGE_SEND_MESSAGE' | translate}}
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</md-content>
