@import "../../../material/project";
.contact-form-container {
    padding-bottom: 120px;
    h4 {
        font-size: 19px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}
