//////////////////////////////////////////////////////////////////////////////////////////////////
//                         BitBay Orders panel
//////////////////////////////////////////////////////////////////////////////////////////////////
.row
  .col-lg-12
    // START panel tab
    .panel.panel-transparent
      uib-tabset.bg-white.p0(justified="true")
        uib-tab(ng-click="ordersListCtrl.getOrdersList()")
          uib-tab-heading
            em.fa.fa-money.fa-fw
            |  Wszystkie zamówienia Coins4SMS.com
          div.tab-spinner-container
            div.spinner-medium(ng-show="ordersListCtrl.orders.processing")
              div.bounce1
              div.bounce2
              div.bounce3
              | Ładowanie
            // START table responsive
            div(ng-hide="ordersListCtrl.orders.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Status
                      th Jednostki
                      th Cena
                  tbody
                    tr(ng-repeat="order in ordersListCtrl.orders.all.entities")
                      td {{order.order_id}}
                      td {{order.order_date | date}}
                      td {{order.type | bbOrderType}}
                      td {{order.status | bbOrderStatus }}
                      td {{order.units | currency:"":5}} {{order.order_currency}}
                      td {{order.current_price | currency:"":2 }} {{order.payment_currency}}

        uib-tab(ng-click="ordersListCtrl.getOrdersList()")
          uib-tab-heading
            em.fa.fa-money.fa-fw
            |  Nieaktywne zamówienia Coins4SMS.com
          div.tab-spinner-container
            div.spinner-medium(ng-show="ordersListCtrl.orders.processing")
              div.bounce1
              div.bounce2
              div.bounce3
              | Ładowanie
            // START table responsive
            div(ng-hide="ordersListCtrl.orders.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Status
                      th Jednostki
                      th Cena
                  tbody
                    tr(ng-repeat="order in ordersListCtrl.orders.inactive.entities")
                      td {{order.order_id}}
                      td {{order.order_date | date}}
                      td {{order.type | bbOrderType}}
                      td {{order.status | bbOrderStatus }}
                      td {{order.units | currency:"":5}} {{order.order_currency}}
                      td {{order.current_price | currency:"":2 }} {{order.payment_currency}}
            // END table responsive

        uib-tab(ng-click="ordersListCtrl.getOrdersList()")
          uib-tab-heading
            em.fa.fa-money.fa-fw
            | Aktywne zamówienia sprzedaży
          div.tab-spinner-container
            div.spinner-medium(ng-show="ordersListCtrl.orders.processing")
                div.bounce1
                div.bounce2
                div.bounce3
                | Ładowanie
            // START table responsive
            div(ng-hide="ordersListCtrl.orders.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Status
                      th Jednostki
                      th Cena
                  tbody
                    tr(ng-repeat="order in ordersListCtrl.orders.active.entities")
                      td {{order.order_id}}
                      td {{order.order_date | date}}
                      td {{order.type | bbOrderType}}
                      td {{order.status | bbOrderStatus }}
                      td {{order.units | currency:"":5}} {{order.order_currency}}
                      td {{order.current_price | currency:"":2 }} {{order.payment_currency}}
            // END table responsive