//////////////////////////////////////////////////////////////////////////////////////////////////
//                         Operations history for all currencies
//////////////////////////////////////////////////////////////////////////////////////////////////
.row
  .col-lg-12
    // START panel tab
    .panel.panel-transparent
      uib-tabset.bg-white.p0(justified="true")
        uib-tab(ng-click="historyPanelDirective.openHistoryTabInitializator('BTC')")
          uib-tab-heading
            em.fa.fa-clock-o.fa-fw
            | Historia BTC
          div.tab-spinner-container
            div.spinner-medium(ng-show="historyPanelDirective.history.BTC.processing")
              div.bounce1
              div.bounce2
              div.bounce3
              | Ładowanie
            // START table responsive
            div(ng-hide="historyPanelDirective.history.BTC.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Wartość
                      th Po operacji
                  tbody
                    tr(ng-repeat="entry in historyPanelDirective.history.BTC.transactions")
                      td {{entry.id}}
                      td {{entry.time | date}}
                      td {{entry.operation_type | bbOperationType}}
                      td {{entry.amount | currency:"":5 }} BTC
                      td {{entry.balance_after | currency:"":5 }} BTC
            // END table responsive
            .panel-footer.text-right
              a.btn.btn-default.btn-sm(ng-click="historyPanelDirective.showMoreHistoryResults('BTC')") Pokaż więcej wyników
        uib-tab(ng-click="historyPanelDirective.openHistoryTabInitializator('LSK')")
          uib-tab-heading
            em.fa.fa-clock-o.fa-fw
            | Historia LSK
          div.tab-spinner-container
            div.spinner-medium(ng-show="historyPanelDirective.history.LSK.processing")
                div.bounce1
                div.bounce2
                div.bounce3
                | Ładowanie
            // START table responsive
            div(ng-hide="historyPanelDirective.history.LSK.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Wartość
                      th Po operacji
                  tbody
                    tr(ng-repeat="entry in historyPanelDirective.history.LSK.transactions")
                      td {{entry.id}}
                      td {{entry.time | date}}
                      td {{entry.operation_type | bbOperationType}}
                      td {{entry.amount | currency:"":5 }} LSK
                      td {{entry.balance_after | currency:"":5 }} LSK
            // END table responsive
            .panel-footer.text-right
              a.btn.btn-default.btn-sm(ng-click="historyPanelDirective.showMoreHistoryResults('LSK')") Pokaż więcej wyników
        uib-tab(ng-click="historyPanelDirective.openHistoryTabInitializator('ETH')")
          uib-tab-heading
            em.fa.fa-clock-o.fa-fw
            | Historia ETH
          div.tab-spinner-container
            div.spinner-medium(ng-show="historyPanelDirective.history.ETH.processing")
              div.bounce1
              div.bounce2
              div.bounce3
              | Ładowanie
            // START table responsive
            div(ng-hide="historyPanelDirective.history.ETH.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Wartość
                      th Po operacji
                  tbody
                    tr(ng-repeat="entry in historyPanelDirective.history.ETH.transactions")
                      td {{entry.id}}
                      td {{entry.time | date}}
                      td {{entry.operation_type | bbOperationType}}
                      td {{entry.amount | currency:"":5 }} ETH
                      td {{entry.balance_after | currency:"":5 }} ETH
            // END table responsive
            .panel-footer.text-right
              a.btn.btn-default.btn-sm(ng-click="historyPanelDirective.showMoreHistoryResults('ETH')") Pokaż więcej wyników
        uib-tab(ng-click="historyPanelDirective.openHistoryTabInitializator('LTC')")
          uib-tab-heading
            em.fa.fa-clock-o.fa-fw
            | Historia LTC
          div.tab-spinner-container
            div.spinner-medium(ng-show="historyPanelDirective.history.LTC.processing")
              div.bounce1
              div.bounce2
              div.bounce3
              | Ładowanie
            // START table responsive
            div(ng-hide="historyPanelDirective.history.LTC.processing")
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th ID#
                      th Data
                      th Typ 
                      th Wartość
                      th Po operacji
                  tbody
                    tr(ng-repeat="entry in historyPanelDirective.history.LTC.transactions")
                      td {{entry.id}}
                      td {{entry.time | date}}
                      td {{entry.operation_type | bbOperationType}}
                      td {{entry.amount | currency:"":5 }} LTC
                      td {{entry.balance_after | currency:"":5 }} LTC
            // END table responsive
            .panel-footer.text-right
              a.btn.btn-default.btn-sm(ng-click="historyPanelDirective.showMoreHistoryResults('LTC')") Pokaż więcej wyników
    // END panel tab