//////////////////////////////////////////////////////////////////////////////////////////////////
//                         BitBay wallet info panels
//////////////////////////////////////////////////////////////////////////////////////////////////

// START row
.row
  .col-lg-3
    // START widget
    .panel.widget.currency_status_panel
      .row.row-table.row-flush
        .col-xs-4.bg-inverse.text-center(ng-click="walletInfoDirective.showWalletInfo('BTC')")
          em.fa.fa-btc.fa-2x
        .col-xs-8
          .panel-body.text-center
            div.spinner(ng-show="walletInfoDirective.balances.processing")
              div.bounce1
              div.bounce2
              div.bounce3
            div(ng-hide="walletInfoDirective.balances.processing")
              h4.mt0 {{walletInfoDirective.calculateBtcCharge() | currency:"":2}}% 
              p.mb0.text-muted {{ walletInfoDirective.balances.BTC.available | currency:"":5 }} BTC
    // END widget
  .col-lg-3
    // START widget
    .panel.widget.currency_status_panel
      .row.row-table.row-flush
        .col-xs-4.bg-danger.text-center(ng-click="walletInfoDirective.showWalletInfo('LSK')")
          p.cryptocurency_name LSK
        .col-xs-8
          .panel-body.text-center
            div.spinner(ng-show="walletInfoDirective.balances.processing")
              div.bounce1
              div.bounce2
              div.bounce3
            div(ng-hide="walletInfoDirective.balances.processing")
              h4.mt0 {{walletInfoDirective.calculateLskCharge() | currency:"":2}}% 
              p.mb0.text-muted {{ walletInfoDirective.balances.LSK.available | currency:"":5 }} LSK
    // END widget
  .col-lg-3
    // START widget
    .panel.widget.currency_status_panel
      .row.row-table.row-flush
        .col-xs-4.bg-green.text-center(ng-click="walletInfoDirective.showWalletInfo('ETH')")
          p.cryptocurency_name ETH
        .col-xs-8
          .panel-body.text-center
            div.spinner(ng-show="walletInfoDirective.balances.processing")
              div.bounce1
              div.bounce2
              div.bounce3
            div(ng-hide="walletInfoDirective.balances.processing")
              h4.mt0 {{walletInfoDirective.calculateEthCharge() | currency:"":2}}% 
              p.mb0.text-muted {{ walletInfoDirective.balances.ETH.available | currency:"":5 }} ETH
    // END widget
  .col-lg-3
    // START widget
    .panel.widget.currency_status_panel
      .row.row-table.row-flush
        .col-xs-4.bg-info.text-center(ng-click="walletInfoDirective.showWalletInfo('LTC')")
          p.cryptocurency_name LTC
        .col-xs-8
          .panel-body.text-center
            div.spinner(ng-show="walletInfoDirective.balances.processing")
              div.bounce1
              div.bounce2
              div.bounce3
            div(ng-hide="walletInfoDirective.balances.processing")
              h4.mt0 {{walletInfoDirective.calculateLtcCharge() | currency:"":2}}% 
              p.mb0.text-muted {{ walletInfoDirective.balances.LTC.available | currency:"":5 }} LTC
    // END widget
// END row
