.row
  .col-lg-12
    .panel.panel-default
      .panel-heading Lista krajów zdefiniowanych w systemie
      .panel-body
        .table-responsive#operators-list-table
          table.table.table-hover
            thead
              tr
                th #
                th Nazwa systemowa
                th Skrót kraju
                th Data dodania
                th Data modyfikacji
                th.text-center Ilość przypisań do definicji SMS
                th.text-right Akcje
            tbody
              tr(ng-repeat="country in countriesListController.countries")
                td {{country.id}}
                td {{country.name}}
                td {{country.code}}
                td {{country.created | date}}
                td {{country.updated | date}}
                td.text-center {{country.sms_assignments}}
                td.text-right         
                  button.mb-cd.btn.btn-default(type='button', ng-click='countriesListController.showEditFormDialog(country)') Edytuj kraj
                  button.mb-cd.btn.btn-default(type='button', ng-click='countriesListController.showDeleteConfirmDialog(country)') Usuń

      .panel-footer.text-right
        button.mb-sm.btn.btn-primary(type='button', ng-click='countriesListController.showAddFormDialog()') Dodaj nowy kraj do systemu
