.row
  .col-lg-12
    .panel.panel-default
      .panel-heading Lista walut zdefiniowanych w systemie
      .panel-body
        .table-responsive#operators-list-table
          table.table.table-hover
            thead
              tr
                th #
                th Nazwa systemowa
                th Skrót waluty
                th Data dodania
                th Data modyfikacji
                th.text-center Ilość przypisań do definicji SMS
                th.text-right Akcje
            tbody
              tr(ng-repeat="currency in currenciesListController.currencies")
                td {{currency.id}}
                td {{currency.name}}
                td {{currency.code}}
                td {{currency.created | date}}
                td {{currency.updated | date}}
                td.text-center {{currency.sms_assignments}}
                td.text-right         
                  button.mb-cd.btn.btn-default(type='button', ng-click='currenciesListController.showEditFormDialog(currency)') Edytuj walutę
                  button.mb-cd.btn.btn-default(type='button', ng-click='currenciesListController.showDeleteConfirmDialog(currency)') Usuń

      .panel-footer.text-right
        button.mb-sm.btn.btn-primary(type='button', ng-click='currenciesListController.showAddFormDialog()') Dodaj nową walutę do systemu
