// START panel tab
.panel.panel-transparent
  uib-tabset.bg-white.p0(justified="true")
    uib-tab
      uib-tab-heading
        em.fa.fa-clock-o.fa-fw
        | Dostępne transakcje na giełdzie BitBay
      div
        // START table responsive
        .table-responsive
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th Order #
                th Order Date
                th Order Time
                th Amount (USD)
            tbody
              tr
                td 3326
                td 10/21/2013
                td 3:29 PM
                td $321.33
              tr
                td 3325
                td 10/21/2013
                td 3:20 PM
                td $234.34
              tr
                td 3324
                td 10/21/2013
                td 3:03 PM
                td $724.17
              tr
                td 3323
                td 10/21/2013
                td 3:00 PM
                td $23.71
              tr
                td 3322
                td 10/21/2013
                td 2:49 PM
                td $8345.23
              tr
                td 3321
                td 10/21/2013
                td 2:23 PM
                td $245.12
              tr
                td 3320
                td 10/21/2013
                td 2:15 PM
                td $5663.54
              tr
                td 3319
                td 10/21/2013
                td 2:13 PM
                td $943.45
        // END list group
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(href='#') View All Activity
    uib-tab
      uib-tab-heading
        em.fa.fa-money.fa-fw
        | Historia ostatnich transakcji z BitBay
      div
        // START table responsive
        .table-responsive
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th Order #
                th Order Date
                th Order Time
                th Amount (USD)
            tbody
              tr
                td 3326
                td 10/21/2013
                td 3:29 PM
                td $321.33
              tr
                td 3325
                td 10/21/2013
                td 3:20 PM
                td $234.34
              tr
                td 3324
                td 10/21/2013
                td 3:03 PM
                td $724.17
              tr
                td 3323
                td 10/21/2013
                td 3:00 PM
                td $23.71
              tr
                td 3322
                td 10/21/2013
                td 2:49 PM
                td $8345.23
              tr
                td 3321
                td 10/21/2013
                td 2:23 PM
                td $245.12
              tr
                td 3320
                td 10/21/2013
                td 2:15 PM
                td $5663.54
              tr
                td 3319
                td 10/21/2013
                td 2:13 PM
                td $943.45
        // END table responsive
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(href='#') View All Transactions