.row
  .col-lg-12
    .panel.panel-default
      .panel-heading Lista operatorów dostępnych w systemie
      .panel-body
        .table-responsive#operators-list-table
          table.table.table-hover
            thead
              tr
                th #
                th Nazwa operatora
                th Data dodania
                th Data modyfikacji
                th.text-center Ilość przypisań do definicji SMS
                th.text-right Akcje
            tbody
              tr(ng-repeat="operator in operatorsListController.operators")
                td {{operator.id}}
                td {{operator.name}}
                td {{operator.created | date}}
                td {{operator.updated | date}}
                td.text-center {{operator.sms_assignments}}
                td.text-right         
                  button.mb-cd.btn.btn-default(type='button', ng-click='operatorsListController.showEditFormDialog(operator)') Edytuj nazwę
                  button.mb-cd.btn.btn-default(type='button', ng-click='operatorsListController.showDeleteConfirmDialog(operator)') Usuń

      .panel-footer.text-right
        button.mb-sm.btn.btn-primary(type='button', ng-click='operatorsListController.showAddFormDialog()') Dodaj nowego operatora do systemu
