// START panel tab
.panel.panel-transparent
  uib-tabset.bg-white.p0(justified="true")
    uib-tab
      uib-tab-heading
        em.fa.fa-clock-o.fa-fw
        | Ostatnie transakcje
      div
        .alert.alert-info(ng-if="!lastTransactionsPanelController.transactions.length")
          em.fa.fa-exclamation-circle.fa-lg.fa-fw
          |  Brak transakcji
        // START table responsive
        .table-responsive(ng-if="lastTransactionsPanelController.transactions.length")
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th ID #
                th Data dodania
                th Kryptowaluta
                th Operator
            tbody
              tr(ng-repeat="transaction in lastTransactionsPanelController.transactions")
                td 
                  a(ui-sref="app.transaction_details({transactionId: transaction.id})") {{transaction.id}}
                td {{transaction.created | date}}
                td {{transaction.cryptocurrency}}
                td {{transaction.operator}}
        // END list group
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(ui-sref='app.transactions_list') Pokaż listę wszystkich transakcji
    uib-tab
      uib-tab-heading
        em.fa.fa-clock-o.fa-fw
        | Ostatnie zakończone transakcje
      div
        .alert.alert-info(ng-if="!lastTransactionsPanelController.transactionsCompleted.length")
          em.fa.fa-exclamation-circle.fa-lg.fa-fw
          |  Brak zakończonych transakcji
        // START table responsive
        .table-responsive(ng-if="lastTransactionsPanelController.transactionsCompleted.length")
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th ID #
                th Data dodania
                th Kryptowaluta
                th Operator
            tbody
              tr(ng-repeat="transaction in lastTransactionsPanelController.transactionsCompleted")
                td 
                  a(ui-sref="app.transaction_details({transactionId: transaction.id})") {{transaction.id}}
                td {{transaction.created | date}}
                td {{transaction.cryptocurrency}}
                td {{transaction.operator}}
        // END table responsive
        .panel-footer.text-right
          a.btn.btn-default.btn-sm(ui-sref='app.transactions_list') Pokaż listę wszystkich transakcji
