md-dialog.md-default-theme.md-transition-in(md-theme='default', aria-label='Dodawanie nowego operatora', ng-class='dialog.css', role='dialog')
  md-dialog-content#dialog_0.md-dialog-content(role='document', tabindex='-1')
    h2.md-title.ng-binding Dodaj nowego operatora
    .md-dialog-content-body.ng-isolate-scope(md-template='::dialog.mdContent')

    form(name='newOperatorForm')
      .col-sm-12
          md-input-container
            label Podaj nazwę nowego operatora
            input(name='operator_name', ng-model='newOperatorDialogController.name', required, placeholder='Nazwa operatora', type='text', pattern=".{2,15}")
            div(ng-messages='newOperatorForm.operator_name.$error', ng-if="newOperatorForm.operator_name.$touched", multiple='')
              div(ng-message='required')
                | Nazwa operatora jest wymagana
              div(ng-message='pattern')
                | Nazwa musi mieć od 2 do 15 znaków
  .md-actions
    // ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.ng-scope.md-default-theme.md-ink-ripple(ng-click='newOperatorDialogController.cancel()')
      span.ng-binding.ng-scope Anuluj
    // end ngIf: dialog.$type == 'confirm'
    button.md-primary.md-button.md-default-theme.md-ink-ripple(ng-click='newOperatorDialogController.add()', ng-disabled='newOperatorForm.operator_name.$invalid')
      span.ng-binding.ng-scope Dodaj
