.row
  .col-lg-3.col-sm-6
    // START widget
    .panel.bg-info-light.pt.b0.widget
      .ph
        em.fa.fa-envelope-o.fa-sm.pull-right
        .h2.mt0 {{dashboardBoxesController.counts.allTransactions}}
        .text-uppercase Wszystkich transakcji
      div(sparkline="", data-type="line", data-width="100%", data-height="75px", data-line-color="{{colorByName('info')}}", data-chart-range-min="0", data-fill-color="{{colorByName('info')}}", data-spot-color="{{colorByName('info')}}", data-min-spot-color="{{colorByName('info')}}", data-max-spot-color="{{colorByName('info')}}", data-highlight-spot-color="{{colorByName('info')}}", data-highlight-line-color="{{colorByName('info')}}", values="2,5,3,7,4,5", style="margin-bottom: -2px", data-resize="true")
  .col-lg-3.col-sm-6
    // START widget
    .panel.widget.bg-purple-light.pt.b0.widget
      .ph
        em.fa.fa-envelope-o.fa-sm.pull-right
        .h2.mt0 {{dashboardBoxesController.counts.newTransactions}}
          span.text-sm.text-white
        .text-uppercase Niedokończonych transakcji
      div(sparkline="", data-type="line", data-width="100%", data-height="75px", data-line-color="{{colorByName('purple')}}", data-chart-range-min="0", data-fill-color="{{colorByName('purple')}}", data-spot-color="{{colorByName('purple')}}", data-min-spot-color="{{colorByName('purple')}}", data-max-spot-color="{{colorByName('purple')}}", data-highlight-spot-color="{{colorByName('purple')}}", data-highlight-line-color="{{colorByName('purple')}}", values="1,4,5,4,8,7,10", style="margin-bottom: -2px", data-resize="true")
  .col-lg-3.col-md-6.col-sm-12
    // START widget
    .panel.widget.bg-info-light.pt.b0.widget
      .ph
        em.fa.fa-envelope-o.fa-sm.pull-right
        .h2.mt0 {{dashboardBoxesController.counts.allPayments}}
        .text-uppercase Zdefiniowanych płatności
      div(sparkline="", data-type="line", data-width="100%", data-height="75px", data-line-color="{{colorByName('info')}}", data-chart-range-min="0", data-fill-color="{{colorByName('info')}}", data-spot-color="{{colorByName('info')}}", data-min-spot-color="{{colorByName('info')}}", data-max-spot-color="{{colorByName('info')}}", data-highlight-spot-color="{{colorByName('info')}}", data-highlight-line-color="{{colorByName('info')}}", values="4,5,3,10,7,15", style="margin-bottom: -2px", data-resize="true")
  .col-lg-3.col-md-6.col-sm-12
    // START widget
    .panel.widget.bg-purple-light.pt.b0.widget
      .ph
        em.fa.fa-envelope-o.fa-sm.pull-right
        .h2.mt0 {{dashboardBoxesController.counts.unsuccessfulPayments}}
        .text-uppercase Nieudanych płatności
      div(sparkline="", data-type="line", data-width="100%", data-height="75px", data-line-color="{{colorByName('purple')}}", data-chart-range-min="0", data-fill-color="{{colorByName('purple')}}", data-spot-color="{{colorByName('purple')}}", data-min-spot-color="{{colorByName('purple')}}", data-max-spot-color="{{colorByName('purple')}}", data-highlight-spot-color="{{colorByName('purple')}}", data-highlight-line-color="{{colorByName('purple')}}", values="1,3,4,5,7,8", style="margin-bottom: -2px", data-resize="true")