@import "../../../material/project";
@import "../../../bourbon/bourbon";
.cooperate-image-one-container {
    background-image: url('/img/photos/cooperate.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    margin: 15px;
}

.partnership-contact-button {
    padding: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}
