<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <div class="md-headline Landing-subtitle">{{'PARTNERSHIP_PAGE_TITLE' | translate}}</div>
        <h1 class="md-display-3 Landing-heading"><strong>{{'PARTNERSHIP_PAGE_SELL_CRYPTOCURRENCIES' | translate}}</strong> <span class="Landing-headingLight">{{'PARTNERSHIP_PAGE_FOR_SMS' | translate}}</span></h1>
    </div>
    <div class="left-right-row">
        <div layout="column" layout-gt-sm="row">
            <div flex="30" class="left-right-row-column-first cooperate-image-one-container" layout-align="center center">
                <div class="md-title page-subtitle" layout-align="center center">
                </div>
            </div>
            <div flex="70" class="left-right-row-column-second" layout-align="center center">
                <h2 class="md-display-2 page-title">{{ 'PARTNERSHIP_PAGE_QUESTION' | translate }}</h2>
                <div class="md-title page-subtitle ">
                    {{ 'PARTNERSHIP_PAGE_ANSWER' | translate }}
                </div>
                <md-button class="md-raised partnership-contact-button" ui-sref="app.contact"> {{'PARTNERSHIP_PAGE_ASK_FOR_DETAILED_OFFER' | translate}}</md-button>
                <br/>
            </div>
        </div>
    </div>
</div>
